@import '../../../../assets/sass-imports/_variables.scss';
@import '../../../../assets/sass-imports/_mixins.scss';
@import '../../../../assets/sass-imports/_ui-outline.scss';
@import '../../../../assets/sass-imports/_typography.scss';

:host {
	display: flex;
	align-items: center;
	margin-bottom: 0.7em;
	&.margin-escape {
		margin-left: -$defaultMargin;
		margin-right: -$defaultMargin;
	}
}

.line {
	flex: 1;
	border-bottom: 1px solid black;
	// opacity: .25;
}
.title {
	margin: 0 .75em;
}