<div class="svg-wrapper"
		 [hidden]="srcDark && theme.isDark"
		 [inlineSVG]="src"
		 (onSVGInserted)="updateSVG(theme)"></div>

<div class="svg-wrapper"
 		 [hidden]="!srcDark || !theme.isDark"
		 [inlineSVG]="srcDark"
		 (onSVGInserted)="updateSVG(theme)"></div>