<div class="loading">
	<div class="container">
	  <div class="box-1">
	    <div class="counter"
	    		 [ngStyle]="newTx ? theme.newTxBackgroundStyle : theme.primaryBackgroundStyle"></div>
	  </div>
	  <div class="box-2">
	    <div class="counter"
	    		 [ngStyle]="newTx ? theme.newTxBackgroundStyle : theme.primaryBackgroundStyle"></div>
	  </div>
	</div>
</div>