<div class="token-icon">
  <div class="icon-container eth-icon"
       *ngIf="isETH">

    <app-themed-svg class="svg"
                    src="/assets/img/icons/inline-svg/ethereum.svg"
                    srcDark="/assets/img/icons/inline-svg/ethereum dark.svg"
                    svgColor="primary"></app-themed-svg>
  </div>
  <a class="icon-container icon"
     *ngIf="hasTokenIcon && !isETH"
     [href]="'https://etherscan.io/token/0x' + _token.contractAddress"
     target="_blank">

    <div class="icon-bg"
         [ngStyle]="theme.primaryBackgroundStyle"></div>
    <app-themed-svg class="svg"
                    src="{{ tokenSvgPath }}"
                    svgColor="secondary"></app-themed-svg>
    <!-- <div class="svg-wrapper accent-svg"
         [inlineSVG]="'/assets/img/icons/coins/'+token.symbol.toLowerCase()+'.svg'"></div> -->
  </a>
  <a class="icon-container no-icon"
     *ngIf="!hasTokenIcon && !isETH"
     [ngStyle]="theme.primaryTextStyle"
     [href]="'https://etherscan.io/token/0x' + _token.contractAddress"
     target="_blank">
    <span>{{ tokenAbbreviation }}</span>
  </a>
</div>

<div class="token-top">

  <div class="token-name caption no-wrap">
    <!-- {{ token.symbol }} -->
    <span *ngIf="isETH">Ether</span>
    <span *ngIf="!isETH">{{ _token.name }}</span>
  </div>
  <div class="token-price caption lining-proportional"
       [ngStyle]="{'color': theme.primaryColorOp3}"
       *ngIf="userPreferences?.denomination?.abbreviation != 'None'">
    {{ userPreferences.denomination.symbol }}{{ _token.prices[userPreferences.denomination.abbreviation] }} <span
    *ngIf="isETH">{{
	  	userPreferences.denomination.abbreviation }}</span>
  </div>

</div>

<div class="token-bottom">

  <div class="token-amount">
    <app-asset-display [amount]="tokenAmount"
                       class="number"></app-asset-display>
    <span class="symbol all-small-caps">{{_token.symbol}}</span>
  </div>
  <div class="token-denomination lining-proportional no-wrap"
       [ngStyle]="{'color': theme.primaryColor}"
       *ngIf="userPreferences?.denomination?.abbreviation != 'None'">
    {{ userPreferences.denomination.symbol }}{{ tokenValue }}
  </div>

</div>
