@import '../../../../assets/sass-imports/_mixins.scss';
@import '../../../../assets/sass-imports/_variables.scss';

$iconSize: 2em;

:host {
	display: grid;
	grid-gap: 0em .35em;
	grid-template: 'icon top'
								 'icon bottom'
								 / $iconSize 1fr;
	margin-bottom: $defaultMargin * .65;
	margin-left: -4px;
	
	.token-top {
		grid-area: top;
		display: flex;
		justify-content: space-between;
	}
	.token-bottom {
		grid-area: bottom;
		display: flex;
		justify-content: space-between;
	}
	.token-icon {
		grid-area: icon;
		display: grid;
		// align-items: center;
		.icon-container {
			position: relative;
			display: block;
			width: $iconSize;
			height: $iconSize;
			border-radius: 99em;
			box-sizing: border-box;
			overflow: hidden;
			// opacity: .4;
			// @keyframes in {
			// 	to {opacity: .6;}
			// }
			// animation: .15s in .15s forwards;
			// opacity: .75;
			// transform: scale(1.1);
			.icon-bg {
				$distance: 1px;
				border-radius: 99em;
				position: absolute;
				top: $distance;
				bottom: $distance;
				left: $distance;
				right: $distance;
			}
			.svg {
				position: relative;
			}
			&.icon, &.no-icon {
			}
			&.no-icon {
				@include flex-center;
				span {
					font-family: $FB2;
					padding-top: 0.25em;
					@include no-select;
					@-moz-document url-prefix() {
						padding-top: 0;
					}
				}
			}
			&.eth-icon {
				display: flex;
				justify-content: center;
				width: unset;
				height: unset;
				border-radius: unset;
				// opacity: .5;
				.svg {
					display: inline-block;
					width: 1.3em;
					margin-top: 0.05em;
				}
			}
		}
	}
	.token-name {
		grid-area: name;
		font-size: $smallCaptionFontSize;
		overflow: hidden;
		text-overflow: ellipsis;
		flex: 1;
    width: 0;
    text-align: left;
	}
	.token-amount {
		overflow: hidden;
		display: flex;
		grid-area: amount;
		line-height: 1.3em;
		white-space: nowrap;
		// max-width: 7em;
		flex: 1;
		width: 0;
		display: grid;
		grid-template: 'number symbol' / auto 1fr;
		padding-right: .5em;
		.number {
			flex: 1;
			overflow: hidden;
			margin-right: .25em;
		}
		.symbol {
			flex: auto;
			text-align: left;
		}
	}
	.token-denomination {
		grid-area: denomination;
		margin-bottom: 0;
	}
	.token-price {
		grid-area: price;
		text-align: right;
	}
	
	
	&.eth {
		grid-template: 'icon top'
									 'icon bottom'
									 /$iconSize 1fr;
		// grid-gap: 0em 0.35em;
		margin-top: $defaultMargin * .75;
		

		
		.token-name {
			width: auto;
			margin-right: .35em;
		}
		.token-bottom {
			// flex-flow: column;
			
		}
		.token-icon {
			// display: none;
			.icon-container {
				transform: none;
			}
		}
		.token-amount {
			// font-size: 1.4em;
			width: auto;
			// padding-right: 0;
			// .number {
			// 	margin-right: 0;
			// }
		}
		.token-denomination {
			
		}
		@media(max-width: $tabletMaxBreakPoint) {
			margin-bottom: 0;
			margin-left: -6px;
			margin-top: $defaultMargin / 4;
		}
		@media(max-width: $mobileMaxBreakPoint) {
			margin-top: $defaultMargin / 3;
			margin-left: -2px;
			text-align: center;
			grid-gap: 0em 0.2em;
			.token-denomination {
				// display: none;
			}
		}
	}
}

:host {
	// &.eth {
	// 	grid-template: 'icon name price'
	// 								 'icon amount amount'
	// 								 'denomination denomination denomination'
	// 								 / min-content 1fr min-content;
	// 	.token-icon {
	// 		display: none;
	// 	}
	// 	.token-amount {
	// 		font-size: 1.5em;
	// 		text-overflow: hidden;
	// 		overflow: hidden;
	// 	}
	// 	.token-denomination {
			
	// 	}
	// 	@media(max-width: $tabletMaxBreakPoint) {
	// 	}
	// 	@media(max-width: $mobileMaxBreakPoint) {
	// 		grid-template: 'icon name denomination'
	// 									 'icon amount amount'
	// 									 / min-content min-content 1fr;
	// 		.token-name {
	// 			text-align: left;
	// 		}
	// 		.token-denomination {
	// 			text-align: right;
	// 		}
	// 		.token-amount {
				
	// 		}
	// 	}
	// }
}