@import '../../../../assets/sass-imports/_variables.scss';
@import '../../../../assets/sass-imports/_mixins.scss';
@import '../../../../assets/sass-imports/_utility.scss';

:host {
	display: block;
	cursor: pointer;
}


.entry {
	text-decoration: none;
	color: black;
	padding: $defaultMargin * .55 $defaultMargin $defaultMargin * .55 $defaultMargin / 2;
	display: grid;
	grid-gap: .25em 0;
	grid-template: 'asset asset arrow failed'
								 'address address address address'
								 'time time time time'
								/ 1em 1fr  min-content min-content;
	@media (max-width: $tabletMaxBreakPoint) {
		display: grid;
		grid-template: 'failed address arrow asset time'
									/ min-content minmax(auto, 22em) 1.5em 1fr 10em;
	  grid-gap: 0 .5em;
		padding: $defaultMargin / 2 $defaultMargin;
	}
	@media (max-width: $mobileMaxBreakPoint) {
		grid-template: 'failed arrow asset asset'
									 'address address address address'
									 'time time time time' 
									/ min-content 1.5em 1fr  1fr;
	  grid-gap: .2em .25em;
		padding: $defaultMargin / 2 $defaultMargin $defaultMargin / 2 $defaultMargin * 1.5;
	}
	// animation: fade-in .25s ease-in;
	@keyframes fade-in {
		from {
			opacity: 0;
		}
	}

}

.asset, .arrow, .address, .tx-hash, .block, .time {
	white-space: nowrap;
}

.failed-icon {
	grid-area: failed;
}
.failed-svg {
  position: relative;
	top: .08em;
	display: inline-block;
	width: .8em;
	margin-left: .35em;
}
.asset {
	grid-area: asset;
	flex: 12em 0 0;
	text-align: right;
	font-weight: bold;
	// background: hsla(0,0,0,.1);
	.symbol {
		// font-variant: all-small-caps;
		
	}
}
.arrow {
	grid-area: arrow;
	display: flex;
	flex: 2em 0 0;
	text-align: center;
	.arrow-container {
		width: 1.2em;
    margin-left: .5em;
		@include flex-center;
	}
	// background: hsla(0,0,0,.2);
}
.address {
	grid-area: address;
	text-overflow: ellipsis;
	font-size: .8em;
	font-weight: bold;
	text-align: right;
	direction: rtl;
	.from, .to {
    text-overflow: ellipsis;
    // overflow: hidden;
	}
	.tx-icon {
		margin-right: .5em;
		margin-top: .25em;
		flex: 0 0 0.75em;
		display: inline-block;
	}
	.exclam-icon {
		
	}
	.contract-icon {
		
	}
}

.time {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	grid-area: time;
	text-align: right;
	flex: 10em 0 1;
}

.pending {
	display: inline-flex;
	align-items: center;
}

.pending-circle {
	$size: .5em;
	height: $size;
	width: $size;
	transform: scale(2.2);
	border-radius: 99em;
	background: yellow;
	opacity: 0;
	margin-top: .05em;
	margin-left: .8em;
	margin-right: .2em;
	@keyframes pending-circle {
		0% {
			opacity: 0;
		}
		40% {
			opacity: 1;
		}
		60% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}
	animation: 2s pending-circle infinite;
	@media (max-width: $mobileMaxBreakPoint) {
		order: -1;
		margin-right: .8em;
		margin-left: .5em;
	}
}

@media (max-width: $tabletMaxBreakPoint) {
	.asset, .arrow, .address, .tx-hash, .block, .time {
		width: unset;
		padding: .2em 0;
	}
	.failed-svg {
		margin-top: .2em;
		margin-left: 0;
		margin-right: .35em;
	}
	.asset {
		grid-area: asset;
		text-align: left;
	}
	.arrow {
		grid-area: arrow;
	}
	.address {
		grid-area: address;
		font-size: 1em;
		text-align: left;
		overflow: hidden;
		direction: ltr
	}
	.time {
		grid-area: time;
	}
}
@media (max-width: $mobileMaxBreakPoint) {
	
	.asset, .arrow, .address, .tx-hash, .block, .time {
		padding: 0;
	}
	.failed-svg {
		margin-top: 0;
	}
	.asset {
		// text-align: left;
		text-align: left;
	}
	.arrow {
		.arrow-container {
	    margin: 0 .25em 0 0;
		}
	}
	.address {
		overflow: hidden;
		direction: ltr;
		text-align: left;
	}
	.time {
		justify-content: flex-start;
		text-align: left;
	}
}