@import '../../../../assets/sass-imports/_variables.scss';
@import '../../../../assets/sass-imports/_mixins.scss';

:host {
	display: block;
	cursor: pointer;
}

.entry {
	display: flex;
	justify-content: space-between;
	padding: $defaultMargin / 3 $defaultMargin / 2;
	opacity: 1;
	@media (max-width: $tabletMaxBreakPoint) {
		display: grid;
		grid-template: 'asset arrow address time'
									 '. 		. 		tx-hash block'
									 /10em  auto   1fr     10em;
	  grid-gap: 0 .5em;
	}
	@media (max-width: $mobileMaxBreakPoint) {
		grid-template: 'time  time 		block'
									 'asset asset 	asset'
									 'arrow address address'
									 /2em   1fr     10em;
	}
	animation: fade-in .25s ease-in;
	@keyframes fade-in {
		from {
			opacity: 0;
		}
	}
	&.legend {
		cursor: default;
		animation: none;
		@include no-select;
		.asset, .arrow, .address, .tx-hash, .block, .time {
			white-space: nowrap;
			padding-top: 0;
			padding-bottom: 0;		}
		.time {
			padding-right: 0;
		}
		@media (max-width: $tabletMaxBreakPoint) {
			.tx-hash, .block {
				opacity: .6;
			}
		}
		@media (max-width: $mobileMaxBreakPoint) {
			grid-template: 'time  time 		block'
										 'asset asset 	asset'
										 'address address address'
										 /2em   1fr     10em;
			
		}
	}
}

.asset, .arrow, .address, .tx-hash, .block, .time {
	white-space: nowrap;
	padding: .5em;
	// transition: .3s;
}
.asset {
	flex: 12em 0 0;
	text-align: right;
	padding-left: 0;
	font-weight: bold;
	// background: hsla(0,0,0,.1);
}
.arrow {
	display: flex;
	flex: 2em 0 0;
	text-align: center;
	.arrow-container {
		width: 2em;
		@include flex-center;
	}
	// background: hsla(0,0,0,.2);
}
.address {
	flex: 1;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 0;
	// background: hsla(0,0,0,.1);
}
.tx-hash {
	flex: 1.5;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 0;
	// background: hsla(0,0,0,.2);
}
// .fee {
// 	flex: 7em 0 1;
// 	background: hsla(0,0,0,.1);
// 	width: 0;
// }
.block {
	flex: 7em 0 1;
	// background: hsla(0,0,0,.2);
	width: 0;
}
.time {
	text-align: right;
	flex: 10em 0 1;
	// background: hsla(0,0,0,.1);
	width: 0;
	padding-right: 0;
}

@media (max-width: $tabletMaxBreakPoint) {
	.asset, .arrow, .address, .tx-hash, .block, .time {
		width: unset;
		padding: .2em 0;
	}
	.asset {
		grid-area: asset;
	}
	.arrow {
		grid-area: arrow;
	}
	.address {
		grid-area: address;
	}
	.tx-hash {
		grid-area: tx-hash;
		opacity: .35;
	}
	.block {
		grid-area: block;
		text-align: right;
		opacity: .35;
	}
	.time {
		grid-area: time;
	}
}
@media (max-width: $mobileMaxBreakPoint) {
	
	.asset {
		text-align: left;
	}
	.arrow {
		
	}
	.address {
		
	}
	.tx-hash {
		display: none;
	}
	.block {
		
	}
	.time {
		text-align: left;
		opacity: .35;
	}
}