<a class="entry"
   target="_blank"
   [href]="'https://etherscan.io/tx/' + addZeroX(transaction.hash)"
   [ngStyle]="theme.primaryTextStyle">
  <div class="failed-icon"
       *ngIf="transaction.status == 'failed'">
    <app-themed-svg class="failed-svg"
                    src="/assets/img/icons/inline-svg/failed.svg"
                    svgColor="accent"></app-themed-svg>
  </div>
  <div class="asset lining-proportional">
		<span [ngClass]="{'failed': transaction.status == 'failed'}"
          [ngStyle]="{ 'color': transaction.kind == 'to' ?
																theme.sendColor :
																theme.receiveColor }">{{ transaction.amount }} <span class="symbol">{{ transaction.assetName }}</span></span>
  </div>
  <div class="arrow">
    <div class="arrow-container">
      <app-arrow [direction]="transaction.kind"></app-arrow>
    </div>
  </div>
  <div class="address lining-proportional"
       [ngStyle]="{ 'opacity': theme.op4 * 1.2 }"
       [ngClass]="{'failed': transaction.status == 'failed'}">
    <span class="from" *ngIf="transaction.kind == 'from'">{{ addZeroX(transaction.fromAddress) }}</span>
    <span class="to" *ngIf="transaction.kind == 'to'">{{ addZeroX(transaction.toAddress) }}</span>
  </div>
  <div class="time all-small-caps" [ngClass]="{'failed': transaction.status == 'failed'}">
		<span>
			<span *ngIf="!pending" [ngStyle]="{ 'opacity': theme.op4 }">
				{{ transaction.getClockTime() }}
        <span class="all-small-caps">{{ transaction.getAmOrPm() }}</span>,
			{{ transaction.created.getDate() }}
			{{ monthNames[transaction.created.getMonth()] }},  {{ transaction.created.getFullYear() }}
			</span>
			<span class="pending all-small-caps" [ngStyle]="{ 'color': theme.primaryColorOp2 }" *ngIf="pending">Pending
						<div class="dib pending-circle" [ngStyle]="{ 'background': theme.processingColor }"></div></span>
		</span>
  </div>
</a>
