
<div class="entry"
		 [ngStyle]="widestWidthStyles.entryStyle">
	<div #asset class="asset lining-proportional"
			 [ngStyle]="widestWidthStyles.assetStyle">
		<span #assetSpan
					[ngStyle]="{ 'color': transaction.kind == 'to' ? 
																theme.sendColor :
																theme.receiveColor }">{{ transaction.amount }} {{ transaction.assetName }}</span>
	</div>
	<div class="arrow">
		<div class="arrow-container">
			<app-arrow [direction]="transaction.kind"></app-arrow>
			<!-- <span *ngIf="transaction.kind == 'to'">To</span>
			<span *ngIf="transaction.kind == 'from'">Fr</span> -->
		</div>
	</div>
	<div class="address lining-proportional">
		<span *ngIf="transaction.kind == 'from'">{{ transaction.toAddress }}</span>
		<span *ngIf="transaction.kind == 'to'">{{ transaction.fromAddress }}</span>
	</div>
	<div class="tx-hash lining-proportional">{{ transaction.hash }}</div>
	<!-- <div class="fee lining-proportional">~5.411 Gwei</div> -->
	<div #block class="block lining-proportional"
			 [ngStyle]="widestWidthStyles.blockStyle">
		<span #blockSpan>{{ transaction.blockNumber }}</span>
	</div>
	<div #time class="time lining-proportional"
			 [ngStyle]="widestWidthStyles.timeStyle">
		<span #timeSpan>
			{{ monthNames[transaction.created.getMonth()] }} {{ transaction.created.getDate() }}, {{ transaction.created.getFullYear() }} {{ transaction.getClockTime() }} <span class="all-small-caps">{{ transaction.getAmOrPm() }}</span>
		</span>
	</div>
</div>