@import '../../../../assets/sass-imports/_variables.scss';
@import '../../../../assets/sass-imports/_mixins.scss';

.transaction {
	$rowHeight: 1.5em;
	position: relative;
	display: grid;
	grid-template-rows: $rowHeight $rowHeight $rowHeight;
	grid-template-columns: 2em 1fr auto 2em;
	grid-template-areas: 'icon status date chevron'
											 '. amount time chevron'
											 'to-from address address chevron';
	// padding: $defaultMargin / 2 $defaultMargin $defaultMargin / 2 0;
	padding: $defaultMargin / 2 0;
	cursor: pointer;
	&:not(:last-child){ border-bottom: 1px solid hsla(0,0,0,.1); }
	.type-icon {
		padding-bottom: .3em;
		@include flex-center;
		img {
			height: .9em;
		}
	}
	.type-text {
		font-weight: bold;
		grid-area: status;
		&.sent {
			color: $red;
		}
		&.received {
			color: $green;
		}
	}
	.amount {
		font-weight: bold;
		grid-area: amount;
	}
	.date {
		padding-top: .3em;
		text-align: right;
		grid-area: date;
		opacity: .3;
	}
	.time {
		text-align: right;
		grid-area: time;
	}
	.to-from {
		text-align: center;
		grid-area: to-from;
		opacity: .3;
		padding-top: .1em;
	}
	.address {
		position: relative;
		z-index: 1;
		display: flex;
		align-items: center;
		grid-area: address;
		opacity: .3;
		overflow: hidden;
		.overflow-fade {
			z-index: 2;
			@include posa-tblr;
		}
	}
	.chevron {
		grid-area: chevron;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		@include no-select;
		img {
			height: 1.5em;
			opacity: .08;
			margin-right: .5em;
		}
	}
}