<div class="menu-button"
		 [ngClass]="{ 'main-button': main,
		 							'open': this.value && this.main }"
		 (click)="click()">
	<div class="symbol-box x"
				  [ngClass]="{ 'x': this.value || this.static }">
		<div class="symbol"
				 [ngStyle]="getBackgroundStyle(color)">
			<div class="bar1"
					 [ngStyle]="getBackgroundStyle(color)"></div>
			<div class="bar2"
					 [ngStyle]="getBackgroundStyle(color)"></div>
		</div>
	</div>
</div>