<div class="menu-button"
		 (click)="click()">
	<div class="symbol-box x"
				  [ngClass]="{ 'x': this.value || this.static }">
		<div class="symbol"
				 [ngStyle]="inverse ? 
				 						theme.secondaryBackgroundStyle : 
				 						theme.primaryBackgroundStyle">
			<div class="bar1"
					 [ngStyle]="inverse ? 
					 						theme.secondaryBackgroundStyle : 
					 						theme.primaryBackgroundStyle"></div>
			<div class="bar2"
					 [ngStyle]="inverse ? 
					 						theme.secondaryBackgroundStyle : 
					 						theme.primaryBackgroundStyle"></div>
		</div>
	</div>
</div>