<label [hidden]="!showLabel"
			 [ngStyle]="isNewTx ? theme.newTxTextStyle : theme.primaryTextStyle"
			 class="caption form-label component-label"
			 [for]="inputID"
			 #label>
	<ng-content></ng-content>
</label>
<div class="input-container">
	<div class="left-marker"
			 [ngStyle]="{'background': theme.newTxColor}"
			 [ngClass]="{'focus': focus}"></div>
	<input #input
				 class="component-input wide"
				 [formControl]="control"
				 [id]="inputID"
				 [name]="inputName"
	       [type]="type"
	       [step]="step"
	       [min]="min"
	       [max]="max"
         [attr.integerOnly]="isIntegerOnly ? '' : null"
         [autocomplete]="noAutoComplete"
	       (blur)="focus = false"
	       (focus)="focus = true"
		     [ngStyle]="focus ?
	     							isNewTx ?
	     							theme.newTxTextInputFocusStyle :
	     							theme.textInputFocusStyle
	     							:
	     							isNewTx ?
	     							theme.newTxTextInputBlurStyle :
	     							theme.textInputBlurStyle">
	<span *ngIf="inputPlaceholder && !control?.value" class="placeholder lining-proportional"
				[ngStyle]="isNewTx ? theme.newTxTextStyle : theme.primaryTextStyle">{{ inputPlaceholder }}</span>
</div>
