@import '../../../../assets/sass-imports/_variables.scss';
@import '../../../../assets/sass-imports/_mixins.scss';
@import '../../../../assets/sass-imports/_typography.scss';

$borderWidth: 3px;
$thickBorderWidth: 5px;
$inputPaddingLeft: .6em;

:host {
	position: relative;
	z-index: 1;
	text-align: left;
}

.component-label {
	
}

.input-container {
	position: relative;
	.left-marker {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: $thickBorderWidth;
		transition: $defaultTransitionTime;
		&.focus {
			// left: -$thickBorderWidth - 0px;
		}
	}
}

.component-input {
	height: $inputHeight;
	font: normal 1em $S;
	outline: none;
	border: none;
	border-left: $thickBorderWidth solid black;
	border-radius: 0;
	font-weight: bold;
	background: transparent;
	padding: .3em 0 .3em $inputPaddingLeft;
	box-sizing: border-box;
	font-feature-settings: "lnum", "pnum";
	-webkit-appearance: none;
	&:-webkit-autofill {
		background-color: unset;
	}
	&.no-arrow-buttons {
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
		    -webkit-appearance: none;
		    margin: 0;
		}
	}
	&.wide {
		width: 100%;
	}
}

.placeholder {
	z-index: 2;
	display: flex;
	align-items: center;
	padding-left: 15px;
	opacity: $op4;
	@include posa-tblr;
	@include pass-through;
}