@import '../../../../assets/sass-imports/_variables.scss';
@import '../../../../assets/sass-imports/_mixins.scss';
@import '../../../../assets/sass-imports/_typography.scss';

$notificationWidth: 20em;
$notificationMargin: $defaultMargin / 3;

:host {
	position: relative;
	background: black;
	min-height: $menuButtonHeight + $defaultMargin * 2;
	padding-left: $menuButtonWidth + $defaultMargin * 2;
	padding-top: 15px;
	margin-top: $notificationMargin;
	color: white;
	animation: notification-in-desktop .2s cubic-bezier(0,1.4,.5,1);
	@include no-pass-through;
	@keyframes notification-in-desktop {
		from {
			opacity: 0;
			transform: translateX($notificationWidth);
		}
	}
	@keyframes notification-in-mobile {
		from {
			opacity: 0;
			transform: translateX(100vw);
		}
	}
	.x {
		position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
		@include no-select-pointer;
		@keyframes fade {
			to {
				opacity: 0;
			}
		}
	}
	h2 {
		font: bold 1.5em $S;
		font-variant: all-small-caps;
		margin-top: -5px;
		margin-bottom: 6px;
		opacity: .8;
	}
	.text {
		padding: 0 $defaultMargin $defaultMargin 0;
		line-height: 1.35em;
	}
	@media (max-width: $mobileMaxBreakPoint) {
		margin-bottom: $notificationMargin;
		margin-top: 0;
		width: unset;
		animation: notification-in-mobile .2s cubic-bezier(0,1.2,.5,1);
	}
}
