<div class="ui-outline"
		 [ngStyle]="newTx ?
								theme.newTxBorderStyle :
								theme.accentBorderStyle"></div>
<div class="select-overlay"
		 [ngStyle]="newTx ?
								theme.newTxTextStyle : 
								theme.primaryTextStyle">
	<div *ngIf="control.value"
			 class="select-value-section">
			 
			 <span class="select-value">{{ optionProperty ? control.value[optionProperty] : control.value }}</span>
			 
	</div>
	<div *ngIf="placeholder && !control.value"
			 class="select-value-section">
			 
			 <span class="select-value">{{ optionProperty ? control.value[optionProperty] : control.value }}</span>
			 
	</div>
	<div class="select-arrow"
			 [ngStyle]="newTx ?
									theme.newTxSelectArrowStyle : 
									theme.selectArrowStyle"></div>
</div>
<select [formControl]="control"
				(blur)="focus = false"
				(focus)="focus = true">
  <option *ngIf="placeholder" disabled selected>{{ placeholder }}</option>
  <option *ngFor="let option of options"
			    [ngValue]="option">{{optionProperty ? option[optionProperty] : option}}</option>
</select>