<div class="custom-select small"
		 [ngStyle]="theme.selectStyle">
	<div class="select-overlay"
			 [ngStyle]="theme.textStyle">
		<span *ngIf="control.value">{{ optionProperty ? control.value[optionProperty] : control.value }}</span>
		<span *ngIf="placeholder && !control.value">{{ optionProperty ? control.value[optionProperty] : control.value }}</span>
	</div>
	<select [formControl]="control">
    <option *ngIf="placeholder" disabled selected>{{ placeholder }}</option>
    <option *ngFor="let option of options" [ngValue]="option">{{optionProperty ? option[optionProperty] : option}}</option>
	</select>
</div>
