@import '../../../../assets/sass-imports/_variables.scss';
@import '../../../../assets/sass-imports/_mixins.scss';
@import '../../../../assets/sass-imports/_ui-outline.scss';

$selectWidth: 6em;
:host {
	display: inline-block;
	height: $inputHeight;
	width: $selectWidth;
	position: relative;
	z-index: 1;
	// overflow: hidden;
	cursor: pointer;
	&.small {
		font-size: 0.875em; // 14px
	}
	.select-overlay {
		// display: grid;
		// grid-template: 'value arrow'
		// 							 /1fr 1em;
		display: flex;
		z-index: 2;
		color: black;
		@include posa-tblr;
		@include pass-through;
		.select-value-section {
			// grid-area: value;
			z-index: 2;
			@include flex-center;
			flex: 1;
			margin-right: 1em;
			@include center-callibrate-text;
		}
		.select-arrow {
			// grid-area: arrow;
			$arrowWidth: .5em;
			$arrowHeight: .6em;
			position: absolute;
			z-index: 2;
			top: $inputHeight / 2 - $arrowHeight / 1.75;
			right: $arrowWidth;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: $arrowHeight $arrowWidth / 2 0 $arrowWidth / 2;
			border-color: black transparent transparent transparent;
		}
	}
	select {
		opacity: 0;
		width: $selectWidth;
		background: transparent;
		border-radius: 0;
		outline: none;
		// color: transparent;
		border: none;
		cursor: pointer;
		height: $inputHeight;
		font: 1em $FB2;
		-webkit-appearance: none;
	}
}

.select-value {
	font: 1em $FB2;
	max-width: 4.5em;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}