<div class="ui-outline"
		 [ngStyle]="theme.accentBorderStyle"></div>
		 
<div class="select-overlay"
		 [ngStyle]="theme.primaryTextStyle">
	<span *ngIf="control.value">{{ optionProperty ? control.value[optionProperty] : control.value }}</span>
	<span *ngIf="placeholder && !control.value">{{ optionProperty ? control.value[optionProperty] : control.value }}</span>
	<div class="select-arrow"
			 [ngStyle]="theme.selectArrowStyle"></div>
</div>
<select [formControl]="control"
				(blur)="focus = false"
				(focus)="focus = true">
  <option *ngIf="placeholder" disabled selected>{{ placeholder }}</option>
  <option *ngFor="let option of options"
			    [ngValue]="option">{{optionProperty ? option[optionProperty] : option}}</option>
</select>