<div class="line"
		 [ngClass]="{ 'to': direction == 'to',
		 							'from': direction == 'from',
		 							'down': direction == 'down' }"
		 [ngStyle]="{ 'border-color': getArrowColor(direction) }">
	<div class="head"
			 [ngClass]="{ 'to': direction == 'to',
			 							'from': direction == 'from',
			 							'down': direction == 'down' }"
			 [ngStyle]="{ 'border-right-color': getArrowColor(direction) }"></div>
</div>