@import '../../../../assets/sass-imports/_variables.scss';
@import '../../../../assets/sass-imports/_functions.scss';
@import '../../../../assets/sass-imports/_mixins.scss';
@import '../../../../assets/sass-imports/_ui-outline.scss';

$lineLength: 10px;
$lineThickness: 2px;
$headWidthNum: 7;
$headWidth: px($headWidthNum);
$headLength: $headWidth / 2;


@mixin curved-arrow {
	&.to, &.from {
		width: $lineLength * 1.1;
		top: -$headLength * 1.5;
	}
	&.from {
		// transform: scaleX(1);
		margin-right: -2px;
		top: -$headLength * 2;
		// top: -$headWidth;
		// width: $lineLength * 1.65;
		@media (max-width: $mobileMaxBreakPoint) { // Mobile view only
			margin-right: 3px;
		}
	}
	&.to {
		// transform: scaleX(-1);
		// margin-left: 5px;
		margin-right: 8px;
		@media (max-width: $mobileMaxBreakPoint) { // Mobile view only
			margin-right: -3px;
		}
	}
	.line {
	  &.to, &.from {
	  	border-right: $lineThickness solid black;
	  	border-radius: 0 8px 0 0;
	  	height: $lineLength;
	  }
	  &.from {
			margin-top: 5px;
	  	// border-radius: 0 0 0 8px;
	  }
	  &.to {
		  top: -$lineThickness / 2;
	  }
	}
	.head {
		&.to, &.from {
			right: unset;
		}
		&.from {
			// top: unset;
			right: -$headWidth * .75;
			// bottom:  - $lineThickness / 2;
			transform: rotate(0);
		}
		&.to {
			top: unset;
			left: unset;
			right: -$headWidth / 2 - $lineThickness / 2;
			bottom: -$headWidth * 1.25;
			transform: rotate(-90deg);
		}
	}
}

@mixin straight-arrow {
		transform: scaleX(1);
		display: inline-block;
		width: $lineLength * 1.1;
	  &.to {
	  }
	  &.from {
			transform: scaleX(-1);
	  	// margin-left: 2px;
	  }
	  .line {
	  	transform: translateY(-$lineThickness);
	  	&.from {
		  	transform: translateX($headLength / 2) translateY(-$lineThickness);
	  	}
	  	.head {
	  		
	  	}
	  }
	  &.up {
	  	display: block;
			width: $lineLength * 1.5;
	  	height: 1em;
	  	margin: 16px auto -8px;
	  	.line {
	  		transform:  rotate(90deg);
	  	}
	  }
}

:host {
	position: relative;
	display: block;
	width: $lineLength * 1.5;
	
	@media (max-width: $tabletMaxBreakPoint) and (min-width: $mobileMaxBreakPoint + 1) { // Tablet view only
		@include straight-arrow;
	}
	@media (min-width: $tabletMaxBreakPoint + 1) { // Desktop view only
		@include curved-arrow;
	}
	@media (max-width: $mobileMaxBreakPoint) { // Mobile view only
		@include curved-arrow;
		transform: scaleX(-1);
	}
	&.up {
		@include straight-arrow;
	  margin: 1em 0;
	}
}

.line {
	border-top: $lineThickness solid black;
  position: absolute;
  left: 0;
  right: 0;
  box-sizing: border-box;
	
}

.head {
	
	position: absolute;
	border-top: $headWidth solid transparent;
	border-bottom: $headWidth solid transparent;
	border-right: $headWidth solid black;
	left: -$headLength;
	top: -$headWidth - $lineThickness / 2;
	width: 0;
	height: 0;
}