<p class="p">
	Copyright 2018, <span class="lining-proportional">Block 16</span> Advisory.
  <br><br>
  Ethereum Portal assumes no responsibility for errors or omissions in the contents on the Service.
  <br><br>
  By using the Ethereum Portal you accept and acknowledge that there are inherent risks associated with cryptocurrency and their networks that are out of the control of <span class="lining-proportional">Block 16</span> Advisory. You accept and acknowledge that <span class="lining-proportional">Block 16</span> Advisory will not be responsible for any errors, failures, or losses when accessing a Blockchain on the Service.
  <br><br>
  In no event shall Ethereum Portal be liable for any special, direct, indirect, consequential, or incidental damages or any damages whatsoever, whether in an action of contract, negligence or other tort, arising out of or in connection with the use of the Service or the contents of the Service. Ethereum Portal reserves the right to make additions, deletions, or modification to the contents on the Service at any time without prior notice.
  <br><br>
  Ethereum Portal does not warrant that the website is free of viruses or other harmful components.
  <br><br>
  <b>Although we have used reasonable endeavours to verify the accuracy of information on the Service, the software is provided “as is” without warranty of any kind, expressed, or implied. In no event shall the authors or copyright holders be liable for any claim, damages, or other liability, whether in an action of contract, tort, or otherwise in connection to using the Service.</b>
</p>
