@import '../../../assets/sass-imports/_variables.scss';
@import '../../../assets/sass-imports/_mixins.scss';

$modalOverlayZ: 1;
$modalModalZ: 2;

.overlay {
	position: fixed;
	z-index: $modalOverlayZ;
	background: $overlayColor;
	cursor: pointer;
	@include tblr;
}

.modal-container {
	position: fixed;
	z-index: $modalModalZ;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: auto;
	@include tblr;
	@include pass-through;
}

.modal {
	position: relative;
	margin: auto 0;
	max-width: $modalMaxWidth;
	width: 100%;
	@include no-pass-through;
}

.modal-inner {
	background: $backgroundColor;
}

.modal-top {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: [x] $sideDockWidth [title] 1fr;
	.modal-close {
		cursor: pointer;
	}
	.modal-title {
		
	}
}