<div class="overlay"
		 [hidden]="!visible"
		 [ngStyle]="theme.overlayStyle">
</div>
<div class="modal-container"
		 [hidden]="!visible"
		 (click)="close()">
<div class="modal-container-inner">
	<div class="modal"
			 [ngStyle]="{'max-width': maxWidth}"
			 click-stop-propagation>
		<div class="modal-inner"
				 [ngStyle]="theme.mainStyle">
			<div class="modal-top"
					 [ngStyle]="theme.mainStyle">
				<div class="modal-close"
						 (click)="close()">
					<menu-button [static]="true"></menu-button>
				</div>
				<div class="modal-title .head4 all-small-caps">
					{{ title }}
<!-- 					<h1 class="h1Border"
							*ngIf="title"
							[ngStyle]="theme.textStyle">{{ title }}</h1> -->
				</div>
			</div>
			<div class="modal-content"
				 [ngClass]="{'modal-padding': padding}"
				 [ngStyle]="{'max-width': maxWidth}">
				<ng-content></ng-content>
			</div>
		</div>
	</div>
</div>
</div>
