<div class="overlay"
		 *ngIf="visible"
		 (click)="visible = close()">
</div>
<div class="modal-container"
		 *ngIf="visible">
	<div class="modal"
			 [ngStyle]="{'max-width': maxWidth}">
		<div class="modal-inner"
				 [ngStyle]="theme.mainStyle">
			<div class="modal-top">
				<div class="modal-close"
						 (click)="close()">
					<menu-button [static]="true"></menu-button>
				</div>
				<div class="modal-title">
					<h1 class="h1Border"
							*ngIf="title"
							[ngStyle]="theme.textStyle">{{ title }}</h1>
				</div>
			</div>
			<div class="modal-content"
				 [ngClass]="{'modal-padding': padding}"
				 [ngStyle]="{'max-width': maxWidth}">
				<ng-content></ng-content>
			</div>
		</div>
	</div>
</div>