@import '../../../assets/sass-imports/_variables.scss';
@import '../../../assets/sass-imports/_mixins.scss';

$modalOverlayZ: 1;
$modalModalZ: 2;
:host {
	position: fixed;
	z-index: $modalZ;
}

@keyframes modal-in {
	from {
		opacity: 0;
		transform: translateY(6em);
	}
}
@keyframes overlay-in {
	from {
		opacity: 0;
	}
}

.overlay {
	position: fixed;
	z-index: $modalOverlayZ;
	background: $overlayColor;
	cursor: pointer;
	animation: .3s overlay-in cubic-bezier(0,1,.5,1);
	@include tblr;
}

.modal-container {
	// position: fixed;
	// z-index: $modalModalZ;
	// display: flex;
	// justify-content: center;
	// align-items: center;
	// overflow: auto;
	// @include tblr;
	// @include pass-through;
}

.modal-container-inner {
	position: fixed;
	z-index: $modalModalZ;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	@include tblr;
	cursor: pointer;
	// @include pass-through;
}

.modal {
	cursor: initial;
	position: relative;
	margin: auto 0;
	max-width: $modalMaxWidth;
	width: 100%;
	@media (max-width: $mobileMaxBreakPoint) {
		max-width: unset !important;
	}
	// @include no-pass-through;
}

.modal-inner {
	animation: .15s modal-in cubic-bezier(0,1,.5,1);
	@media (max-width: $mobileMaxBreakPoint) {
		min-height: 100vh;
	}
}

.modal-top {
	position: sticky;
	top: 0;
	z-index: 1;
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: [x] $sideDockWidth [title] 1fr;
	.modal-close {
		cursor: pointer;
	}
	.modal-title {
		text-align: right;
		font-size: 1.5em;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		margin-right: $menuButtonWidth + $defaultMargin * 2;
		margin-top: -.2em;
		@include pass-through;
	}
}

.modal-content {
	padding: $defaultMargin;
	margin: 0 auto;
	// margin-left: $sideDockWidth;
}