
<div #content class="new-tx-content"
     [ngClass]="{'manual-gas': userPreferences?.manualGas }"
     [ngStyle]="theme.newTxTextStyle">

  <loading-icon *ngIf="!dataLoaded"
                [ngClass]="{'show': dataLoaded, 'manual-gas': userPreferences?.manualGas }"
                class="loading-icon"
                new-tx></loading-icon>
  <form [formGroup]="sendForm"
        [ngClass]="{'show': dataLoaded }"
        (submit)="generateTransaction()"
        class="send-form">

    <app-input [control]="sendForm.controls['sendAddress']"
               [inputID]="'text-to-address'"
               [inputName]="'text-to-address'"
               [inputPlaceholder]="'0x…'"
               [type]="'text'"
               no-autocomplete
               autofocus
               new-tx>To <span
       [ngStyle]="theme.newTxOp3Style">Ethereum address</span></app-input>

    <br>

    <div class="text-input-plus">
      <div class="input-and-max">
        <app-input [control]="sendForm.controls['sendAmount']"
                   [inputID]="'text-amount'"
                   [inputName]="'text-amount'"
                   [inputPlaceholder]="'0'"
                   [type]="'text'"
                   no-autocomplete
                   integer-only
                   new-tx>Amount
        </app-input>
        <div class="max-button-container"
             (click)="clickMaxButton()">
          <div class="max-button"
               [ngClass]="{ 'on': sendMax }"
               [ngStyle]="sendMax ? theme.maxButtonOnStyle : theme.maxButtonOffStyle">
            <span class="max-button-text">Max</span>
          </div>
        </div>
      </div>

      <app-select [control]="sendForm.controls['sendAsset']"
                  [options]="assets"
                  [initialValue]="currentAsset"
                  [optionProperty]="'symbol'"
                  new-tx></app-select>

    </div>

    <div class="gas-info"
         [ngClass]="{ 'manual-gas': userPreferences?.manualGas }">
      <app-input [control]="sendForm.controls['gasPrice']"
                 class="gas-input one"
                 [hidden]="!userPreferences?.manualGas"
                 [inputID]="'gas-price'"
                 [inputName]="'gas-price'"
                 [type]="'number'"
                 [min]="0"
                 [max]="200"
                 no-autocomplete
                 new-tx>
        Gas price
      </app-input>

      <app-input [control]="sendForm.controls['gasLimit']"
                 class="gas-input two"
                 [hidden]="!userPreferences?.manualGas"
                 [inputID]="'gas-limit'"
                 [inputName]="'gas-limit'"
                 [type]="'number'"
                 [step]="1"
                 no-autocomplete
                 new-tx>
        Gas limit
      </app-input>
      <div class="estimated-fee">
        <div class="caption">Estimated fee</div>
        <span class="fee lining-proportional">{{ calculatedGasPrice }} ETH</span>
      </div>
    </div>

    <div class="submit-button-container">
      <app-button [disabled]="!sendForm.valid"
                  *ngIf="!sendForm.controls['sendAmount'].errors?.negative && !sendForm.controls['sendAmount'].errors?.decimalPlaces"
                  class="submit-button" submit send big>Send</app-button>
      <div class="errors" *ngIf="sendForm.dirty">
        <span *ngIf="sendForm.controls['sendAmount'].errors?.negative">{{ sendForm.controls['sendAmount'].errors.negative }}</span>
        <span *ngIf="sendForm.controls['sendAmount'].errors?.decimalPlaces">{{ sendForm.controls['sendAmount'].errors.decimalPlaces }}</span>
      </div>
    </div>
    <br>
    <!-- <div *ngFor="let control of findInvalidControls()">
      <span *ngFor="let err of control.errors">{{ err.toString() }}</span>
    </div> -->
  </form>
</div>
<div #absolute class="new-tx-circle-absolute"
     [ngStyle]="absoluteCircleStyle">
  <div class="fill"
       [ngStyle]="theme.processingBackgroundStyle"></div>
</div>

