<h2 class="top-border head2 type2">Send</h2>
<section class="section-content">
  <form [formGroup]="sendForm" (submit)="sendTransaction()">
    <label for="text-to-address" class="caption form-label">To <span class="fade">Ethereum address</span></label>
<!--     <input type="text"
           id="text-to-address"
           placeholder="0xAfDB9..."
           [formControl]="sendForm.controls['sendAddress']"
           class="wide"
           (blur)="sendAddressFocus = false" (focus)="sendAddressFocus = true"
           [ngStyle]="sendAddressFocus ? 
                      theme.textInputFocusStyle : 
                      theme.textInputBlurStyle"> -->
    <app-input [control]="sendForm.controls['sendAddress']"
               [type]="'text'"></app-input>
    <br><br>
    
    <label for="text-amount" class="caption form-label">Amount</label>
    <div class="text-input-plus">

      <input type="number"
             id="text-amount"
             placeholder="0"
             [formControl]="sendForm.controls['sendAmount']"
             class="wide no-arrow-buttons"
             (blur)="sendAmountFocus = false" (focus)="sendAmountFocus =  true"
             [ngStyle]="sendAmountFocus ? 
                      theme.textInputFocusStyle : 
                      theme.textInputBlurStyle">

      <div class="max-button"
           [ngClass]="{ 'on': sendMax }"
           [ngStyle]="sendMax ? theme.maxButtonOnStyle : theme.maxButtonOffStyle"
           (click)="clickMaxButton()">Max</div>

      <div class="custom-select">
        <div class="select-overlay">
          <span>{{ this.currentAsset.name }}</span>
        </div>
        <select name="asset-selection" id="asset-selection" [formControl]="sendForm.controls['sendAsset']">
          <option value="-1">ETH</option>
          <option *ngFor="let token of assets; let i = index" value="{{ token.name }}">{{ token.name }}</option>
        </select>
      </div>

    </div>

    <div *ngIf="!userPreferences['manualGas']">
      <div class="caption">Estimated transaction fee</div>
      <p class="lining-proportional">.0003 ETH</p>
    </div>

    <div *ngIf="userPreferences['manualGas']">
      <label for="gas-price" class="caption form-label">Gas price</label>
      <input id="gas-price" type="range">

      <label for="gas-limit" class="caption form-label">Gas limit</label>
      <input id="gas-limit" type="number" class="no-arrow-buttons">
    </div>
    <app-button (click)="sendForm.submit()"
                [disabled]="!sendForm.valid">Generate transaction</app-button>
    <!-- <button class="button" type="submit" [ngClass]="{ 'disabled': !sendForm.valid }">Generate transaction</button> -->
    <br>
  </form>
</section>
