@import '../../../assets/sass-imports/_mixins.scss';

$minWidth: 25em;

:host {
	position: relative;
	margin: 0 -$defaultMargin;
	box-sizing: border-box;
	padding: 0 0 9vh;
	@include flex-center;
	z-index: 1;
	overflow-x: hidden;
	transition: .05s padding;
	&::-webkit-scrollbar {
		display: none;
	}
	
	@media(max-width: $tabletMaxBreakPoint) {
		// padding: 5em 0 10em;
		padding: 0 0 9vh;
	}
	@media(max-width: $mobileMaxBreakPoint) {
		padding: 0 0 9vh;
	}
}

.loading-icon {
	position: relative;
	z-index: 2;
	@include posa-tblr;
	margin-top: -$defaultMargin * 2.5;
	&.manual-gas {
		margin-top: -$defaultMargin * 1;
	}
}

.input-and-max {
	position: relative;
	flex: 1;
}

@keyframes new-tx-in {
	0% {
		opacity: 0;
		transform: translateY(10em) scale(.55);
	}
	30% {
		opacity: 0;
	}
}


.new-tx-content {
	display: block;
	position: relative;
	z-index: 2;
	width: $minWidth;
	padding-top: 1em;
	text-align: center;
	margin-bottom: -$defaultMargin * 2;
	&.manual-gas {
		margin-bottom: 0;
	}
	@media(max-width: $tabletMaxBreakPoint) {
		
	}
	@media(max-width: $mobileMaxBreakPoint) {
		min-width: unset;
		width: 100%;
    padding: 0 $defaultMargin;
	}
	animation: new-tx-in .3s cubic-bezier(0,1,.5,1);
}

.send-form {
	position: relative;
	.submit-button-container {
		position: absolute;
		// bottom: -3.5em;
		left: 0;
		right: 0;
		text-align: center;
	}
	.submit-button {
		// position: absolute;
		// bottom: -4em;
	}
	.errors {
		position: absolute;
		top: .5em;
		right: 0;
		left: 0;
		margin: 0 auto;
		text-align: center;
		max-width: 20em;
		width: 100%;
		font-weight: bold;
		font-variant: all-small-caps;
	}
	opacity: 0;
	transition: opacity $introTransitionTime;
	@include pass-through;
	&.show {
		opacity: 1;
		@include no-pass-through;
	}
}

.gas-info {
	margin-bottom: $defaultMargin;
	.estimated-fee {
		flex: 1;
		text-align: center;
		font-weight: bold;
	}
	&.manual-gas {
		display: flex;
		justify-content: space-between;
		.estimated-fee {
			text-align: left;
		}
		.caption {
			white-space: nowrap;
		}
		.fee {
			display: flex;
			height: 2.1em;
			margin-top: 0.4em;
			align-items: center;
			white-space: nowrap;
		}
		.gas-input {
			flex: 1;
			margin-right: $defaultMargin;
		}
	}
	@media(max-width: $mobileMaxBreakPoint) {
		
		&.manual-gas {
			flex-wrap: wrap;
			.estimated-fee {
				text-align: center;
				flex: 100%;
				margin-top: $defaultMargin;
			}
			.fee {
				display: inline;
				height: auto;
				margin-top: 0;
				align-items: center;
				white-space: nowrap;
			}
			.gas-input.two {
				margin-right: 0;
			}
		}
	}
}

.new-tx-circle-absolute {
	$diameter: 400px;
	position: absolute;
	z-index: 1;
	// height: $diameter;
	// width: $diameter;
	border-radius: 99em;
	opacity: 1;
	animation: .25s fade-in forwards;
	animation: new-tx-in .3s cubic-bezier(0,1,.5,1);
	// transition: opacity 1s;
}

.fill {
	border-radius: 99em;
	@include posa-tblr;
}