<form [formGroup]="sendForm" (submit)="generateTransaction()">
  <app-input [control]="sendForm.controls['sendAddress']"
             [inputID]="'text-to-address'"
             [inputName]="'text-to-address'"
             [inputPlaceholder]="'0x…'"
             [type]="'text'">To <span class="fade">Ethereum address</span></app-input>
  <br><br>

  <div class="text-input-plus">
    <div class="input-and-max">
      <app-input [control]="sendForm.controls['sendAmount']"
                 [inputID]="'text-amount'"
                 [inputName]="'text-amount'"
                 [type]="'text'"
                 numberOnly>Amount
      </app-input>
      <div class="max-button"
           [ngClass]="{ 'on': sendMax }"
           [ngStyle]="sendMax ? theme.maxButtonOnStyle : theme.maxButtonOffStyle"
           (click)="clickMaxButton()">
        Max
      </div>
    </div>
    <app-select [control]="sendForm.controls['sendAsset']"
                [options]="assets"
                [initialValue]="currentAsset"
                [optionProperty]="'symbol'"></app-select>

  </div>

  <div [hidden]="userPreferences['manualGas']">
    <div class="caption">Estimated transaction fee</div>
    <p class="lining-proportional">.0003 ETH</p>
  </div>

  <div [hidden]="!userPreferences['manualGas']">
    <label for="gas-price" class="caption form-label">Gas price</label>
    <input id="gas-price" type="range" [formControl]="sendForm.controls['gasPrice']" min="1" max="80">

    <label for="gas-limit" class="caption form-label">Gas limit</label>
    <input id="gas-limit" type="number" class="no-arrow-buttons" step="1000"
           [formControl]="sendForm.controls['gasLimit']" integerOnly>
  </div>

  <app-button [disabled]="!sendForm.valid" submit>Generate transaction</app-button>
  <br>
</form>
