@import '../../../assets/sass-imports/_variables.scss';
@import '../../../assets/sass-imports/_mixins.scss';
@import '../../../assets/sass-imports/_typography.scss';

:host {
	
}

.question {
	margin-bottom: $defaultMargin * 2;
}

.q {
	text-align: center;
	opacity: .6;
	font-family: $S;
	font-variant: all-small-caps;
	margin-bottom: $defaultMargin * .5;
}

.a {
	
}

a {
	color: unset;
	font-weight: bold;
	text-decoration: underline;
}

.menu-button-svg {
	display: inline-block;
	width: 0.7em;
	position: relative;
	bottom: -0.2em;
	padding: 0 .25em;
}