<div class="question">
	<h3 class="q">What is this?</h3>
	<p class="p a">This site connects an Ethereum wallet to the Ethereum network. It allows the user to send Ethereum assets, review asset balances, and review recent transactions. Smart contract interaction is planned. Send questions, concerns, or suggestions to <a href="mailto:team@block16.io" class="lining-proportional">team@block16.io</a></p>
</div>
<div class="question">
	<h3 class="q">Where do you get your data?</h3>
	<p class="p a">For blockchain data, we use <a href="https://docs.block16.io/" target="_blank">our own API</a>. For price data, we use <a href="https://www.cryptocompare.com/api/" target="_blank">CryptoCompare's API</a>.</p>
</div>
<div class="question">
	<h3 class="q">What is gas?</h3>
	<p class="p a">Gas is Ether used to pay transaction fees to the network. A higher gas price means a faster transaction. We automatically calculate gas price based on recent Ethereum activity.</p>
</div>
<div class="question">
	<h3 class="q">How is gas automatically calculated?</h3>
	<p class="p a">We take the lower 25% percentile of the last 10 blocks.</p>
</div>
<div class="question">
	<h3 class="q">How do I set gas price manually?</h3>
	<p class="p a">Enable “Manual gas” in the preferences, located in the <app-themed-svg class="menu-button-svg" src="/assets/img/icons/inline-svg/menu button.svg" svgColor="primary">
       </app-themed-svg> sidebar.</p>
</div>
<div class="question">
  <h3 class="q">How private is this site?</h3>
  <p class="p a">There is some information kept in local storage regarding pending / failed transactions. Also, this site contacts our <a href="https://docs.block16.io/" target="_blank">API</a> hosted on Amazon. This is as far as we go - we don't store any IP information on our side or include any analytics javascript.</p>
</div>
<div class="question">
	<h3 class="q">Where can I find the source to this project?</h3>
	<p class="p a">We publicly host the current version of this site on Gitlab. <a href="https://gitlab.com/block16/ethereum-portal" target="_blank">You can view the code here</a>.</p>
</div>
<div class="question">
	<h3 class="q">I cannot see token balance, so what should I do? </h3>
	<p class="p a">We do our best to automatically find all of your ERC-20 tokens. Over time we will support other standards such as ERC-721 and any others that come out. If you cannot find an ERC-20 token please send an email to <a href="mailto:team@block16.io" class="lining-proportional">team@block16.io</a> and we will try to fix any issue.</p>
</div>
<div class="question">
  <h3 class="q">Why do you only allow me to connect with hardware / Metamask?</h3>
  <p class="p a">For security. You're able to verify a generated transaction for sanity through one the use of these devices. MyEtherWallet had some issues in the past where users had their privatekeys stolen which we do not want to replicate. Hardware / Metamask acts as a second layer of scrutiny and helps prevent the escape of your raw private key.</p>
</div>
<div class="question">
  <h3 class="q">Why was my transaction marked as failed but pending on etherscan.io?</h3>
  <p class="p a">Transactions are marked as failed after an hour of pending. Your wallet will be updated later if the transaction makes it into the blockchain.</p>
</div>
