@import '../../../assets/sass-imports/_variables.scss';
@import '../../../assets/sass-imports/_mixins.scss';

:host {
	position: fixed;
	display: flex;
	align-items: stretch;
	top: 0;
	left: 0;
	right: 0;
	height: $navBarHeight;
	z-index: 2;
	@media (max-width: $mobileMaxBreakPoint) {
		height: $mobileNavBarHeight;
		top: unset;
		bottom: 0;
	}
	
	opacity: 0;
	transition: opacity $introTransitionTime;
	@include pass-through;
	&.show {
		opacity: 1;
		@include no-pass-through;
	}
}

.nav-menu {
	// position: relative;
	display: none;
	margin-left: $menuButtonWidth + $defaultMargin * 2;
	.nav-indicator {
		position: absolute;
		background: black;
		left: 0px;
		width: 10px;
		height: 4px;
		transition: .075s;
		@include pass-through;
	}
	.nav-menu-item {	
		display: inline-flex;
		font: 30px $FB2;
		justify-content: center;
		align-items: center;
		padding: 5px 20px 0;
		@include no-select-pointer;
		&:first-child {
			// padding-left: 0;
		}
	}
	@media (max-width: $tabletMaxBreakPoint) {
		display: flex;
	}
	@media (max-width: $mobileMaxBreakPoint) {
		flex: 1;
		margin-left: 0;
		justify-content: space-between;
		.nav-indicator {
			bottom: 0;
		}
		.nav-menu-item {
			flex: 1;
			font-size: 24px;
			padding-top: 0;
		}
	}
}

.user-info {
	display: flex;
	align-items: center;
	flex: 1;
	justify-content: flex-end;
	@media (max-width: $tabletMaxBreakPoint) {
		display: none;
	}
	@media (max-width: $mobileMaxBreakPoint) {
	}
}


.address-container {
	
}

.address {
	@media (max-width: $tabletMaxBreakPoint) {
		// display: none;
	}
	@media (max-width: $mobileMaxBreakPoint) {
		
	}
}

.qr-address {
	font-size: .8em;
}

.svg {
	width: 1.25em;
	cursor: pointer;
	&.qr {
		padding: $defaultMargin $defaultMargin $defaultMargin $defaultMargin;
	}
	&.copy {
		// display: none;
		padding: $defaultMargin $defaultMargin $defaultMargin $defaultMargin / 2;
	}
}

.copy-button {
	// width: 1.25em;
	// cursor: pointer;
}