<div class="nav-menu">
	<div class="nav-menu-item"
			 (click)="setNavLocation('send')">
			 <span #send>Send</span>
		</div>
	<div class="nav-menu-item"
			 (click)="setNavLocation('receive')">
			 <span #receive>Receive</span>
	</div>
	<div class="nav-menu-item"
			 (click)="setNavLocation('history')">
			 <span #history>History</span>
		</div>
	<div class="nav-indicator"
			 [ngStyle]="{ 'background': theme.primaryColor,
			 							'left': navIndicatorLeft + 'px',
			 							'width': navIndicatorWidth + 'px' }"
			 #indicator></div>
</div>
<div class="user-info lining-proportional"
		 [ngStyle]="theme.primaryTextStyle"
		 [hidden]="!ethereumAddress">
	<div class="address"
				[ngStyle]="{'opacity': theme.op4 }">{{ ethereumAddress }}</div>
	<app-themed-svg title="QR code"
									class="svg qr"
									src="/assets/img/icons/inline-svg/qr.svg"
									svgColor="primary"
									(click)="showQRModal = true"></app-themed-svg>
	<app-themed-svg title="Copy address"
									class="svg copy"
									src="/assets/img/icons/inline-svg/copy.svg"
									svgColor="primary"
									ngxClipboard
									[cbContent]="ethereumAddress"
									(cbOnSuccess)="copySuccess()"
									></app-themed-svg>
</div>


<modal [(visible)]="showQRModal"
			 [title]="'Q.R.'"
			 [maxWidth]="'20em'">

	<div class="tac">
		<ngx-kjua
				class="qr"
		    [text]="ethereumAddress"
		    [renderAsync]="false"
		    [crisp]="true"
		    [ecLevel]="'L'"
		    [size]="225"
		    [fill]="theme.primaryColor"
		    [back]="'transparent'"
		  ></ngx-kjua>
	</div>
	<br>
	<div class="qr-address tac break-all lining-proportional"
			 [ngStyle]="{'opacity': theme.op4}">{{ ethereumAddress }}</div>
</modal>
