@import '../../../assets/sass-imports/_mixins.scss';
@import '../../../assets/sass-imports/_variables.scss';

:host {
	&.desktop {
		
		@media(max-width: $tabletMaxBreakPoint) {
			display: none;
		}
		@media(max-width: $mobileMaxBreakPoint) {
			
		}
	}
}


.token {
	$iconSize: 2em;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto auto auto;
	grid-gap: 0 .7em;
	grid-template-areas: 'icon symbol denomination'
											 'icon amount price       '
											 'icon .      .           ';
	margin-bottom: $defaultMargin;
	&.eth-token {
		// this hides ETH in the Tokens list
		display: none;
	}
	.token-icon {
		grid-area: icon;
		.icon-container {
			display: block;
			width: $iconSize;
			height: $iconSize;
			border-radius: 99em;
			box-sizing: border-box;
			&.no-icon {
				@include flex-center;
				span {
					font: $captionFontSize $FB2;
					padding-top: 0.25em;
					@include no-select;
					@-moz-document url-prefix() {
						padding-top: 0;
					}
				}
			}
		}
	}
	.token-symbol {
		grid-area: symbol;
		font-size: $smallCaptionFontSize;
	}
	.token-amount {
		grid-area: amount;
		margin-bottom: 0;
	}
	.token-denomination {
		grid-area: denomination;
		margin-top: -0.25em;
		margin-bottom: 0;
	}
	&.eth {
		grid-gap: 0;
		margin-top: $defaultMargin / 2;
		.token-icon {
			display: none;
		}
		.token-amount {
			font-size: $h2FontSize;
		}
		@media(max-width: $tabletMaxBreakPoint) {
			text-align: center;
			margin-bottom: $defaultMargin;
		}
		@media(max-width: $mobileMaxBreakPoint) {
			
		}
	}
}