@import '../../../../assets/sass-imports/_variables.scss';
@import '../../../../assets/sass-imports/_mixins.scss';

$lineWidth: 2px;
$lineLength: 16px;
$lineSideGap: 4px;


.top {
	position: relative;
	@include no-select-pointer;
	&.open {
		opacity: 1;
		.toggle-indicator  {
			.line-1 {
				opacity: 0;
				transform: rotate(180deg);
			}
			.line-2 {
				transform: rotate(180deg);
			}
		}
		h3 {
			opacity: 1;
		}
	}
}

.toggle-indicator {
	display: block;
	position: absolute;
	// background: blue;
	height: $lineLength;
	width: $lineLength;
	left: 0; 
	top: 0;
	.line-1, .line-2 {
		content: '';
		position: absolute;
		height: $lineWidth;
		width: $lineLength;
		background: black;
		transition: $defaultTransitionTime * 2 ease-out;
		transform: rotate(0deg);
	}
	.line-2  {
		opacity: 1;
		transform: rotate(90deg);
	}
}

h3 {
	margin-left: $lineLength + $lineSideGap;
}


.section-toggle {
	// $color: hsla(0,0,0,.25);
	position: relative;
	opacity: $op4;
	margin-bottom: $defaultMargin * .9;
	// color: $color;
	// border-top: $lineWidth solid $color;
	&:hover {
		// $color: hsla(0,0,0,.4);
		// color: $color;
		// border-color: $color;
	}
}

.section-content {
	padding-left: $lineLength + $lineSideGap;
}