<div [ngStyle]="theme.sectionHeaderStyle">
	<div class="entry legend all-small-caps"
			 [ngStyle]="widestWidthStyles.entryStyle">
		<div class="asset" #asset
				 [ngStyle]="widestWidthStyles.assetStyle">Asset</div>
		<div class="arrow">
			<div class="arrow-container"></div>
		</div>
		<div class="address">Address</div>
		<div class="tx-hash">TX Hash</div>
		<div class="block" #block
				 [ngStyle]="widestWidthStyles.blockStyle">Block</div>
		<div class="time" #time
				 [ngStyle]="widestWidthStyles.timeStyle">Time</div>
	</div>
</div>