@import '../../../../assets/sass-imports/_variables.scss';
@import '../../../../assets/sass-imports/_mixins.scss';

:host {
	cursor: default;
	position: sticky;
	z-index: 1;
	top: 0;
	text-align: right;
	.title {
		font-variant: all-small-caps;
		padding: $defaultMargin / 3 $defaultMargin $defaultMargin / 3 0;
	}
	@media(max-width: $tabletMaxBreakPoint) {
		top: $navBarHeight;
		.title {
			display: none;
		}
	}
	@media(max-width: $mobileMaxBreakPoint) {
		top: 0;
	}
}