<div class="ui-outline"
		 *ngIf="!noOutline"
		 [ngStyle]="newTx || send ?
								theme.newTxBorderStyle :
								theme.accentBorderStyle"></div>
<div class="content">
	<ng-content></ng-content>
</div>
<button *ngIf="submit"
				type="submit"
				class="submit-button"
				(blur)="onBlur()"
				(focus)="onFocus()"
				[disabled]="disabled"></button>