@import '../../../../assets/sass-imports/_variables.scss';
@import '../../../../assets/sass-imports/_mixins.scss';

$buttonColor: black;
$textColor: white;
$outlineThickness: 3px;
$outlineDistance: $outlineThickness + 1px;
$outlineColor: $buttonColor;
$outlineActiveOffset: 1;

.wallet-icon {
  
}

:host {
  position: relative;
  z-index: 1;
	display: inline-block;
	font: 1em $FB2;
  position: relative;
  background: $buttonColor;
  color: $backgroundColor;
  padding: .5em 2em;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 0em;
  user-select: none;
  -webkit-appearance: none;
  &.disabled {
    opacity: .3;
    pointer-events: none;
  }
  &.wallet-icon {
		position: relative;
		background: black;
		color: $backgroundColor;
		width: 100%;
		height: 0;
  	cursor: pointer;
		padding: 0 0 100% 0;
  }
  .outline {
    border: $outlineThickness solid $outlineColor;
    top: -$outlineDistance;
    bottom: -$outlineDistance;
    left: -$outlineDistance;
    right: -$outlineDistance;
    pointer-events: none;
    position: absolute;
    opacity: 0;
    transition: .08s;
  }
  &:focus {
    .outline {
      top: -$outlineDistance;
      bottom: -$outlineDistance;
      left: -$outlineDistance;
      right: -$outlineDistance;
      border-radius: 1px;
      opacity: 1;
    }
  }
  &:active {
    .outline {
      opacity: 1;
      top: -$outlineDistance - $outlineActiveOffset;
      bottom: -$outlineDistance - $outlineActiveOffset;
      left: -$outlineDistance - $outlineActiveOffset;
      right: -$outlineDistance - $outlineActiveOffset;
      border-radius: 2px;
      border-width: 1px;
    }
  }
}

.utc {
  opacity: 0;
  cursor: pointer;
  @include posa-tblr;
}

.submit-button {
  z-index: 2;
  -webkit-appearance: none;
  opacity: 0;
  background: none;
  outline: none;
  cursor: pointer;
  height: 100%;
  width: 100%;
  @include posa-tblr;
}