@import '../../../../assets/sass-imports/_variables.scss';
@import '../../../../assets/sass-imports/_mixins.scss';
@import '../../../../assets/sass-imports/_ui-outline.scss';

$buttonColor: black;
$textColor: white;



.wallet-icon {
  
}

:host {
  position: relative;
  z-index: 1;
	display: inline-block;
	font: 1em $FB2;
  position: relative;
  background: $buttonColor;
  color: $backgroundColor;
  padding: .5em 2em;
  cursor: pointer;
  outline: none;
  border: none;
  box-sizing: border-box;
  border-radius: 0em;
  user-select: none;
  -webkit-appearance: none;
  &.disabled {
    opacity: .3;
    pointer-events: none;
  }
  &.wide {
    width: 100%;
  }
  &.wallet-icon {
		position: relative;
		background: black;
		color: $backgroundColor;
		width: 100%;
		height: 0;
  	cursor: pointer;
		padding: 0 0 100% 0;
  }
  &.big {
    font-size: 2em;
  }
  &.send {
    // padding-left: 0;
    // padding-right: 0;
  }
}

.content {
  text-align: center;
}

.utc {
  opacity: 0;
  cursor: pointer;
  @include posa-tblr;
}

.submit-button {
  z-index: 2;
  -webkit-appearance: none;
  opacity: 0;
  background: none;
  outline: none;
  cursor: pointer;
  height: 100%;
  width: 100%;
  @include posa-tblr;
}