@import '../../../assets/sass-imports/_variables.scss';
@import '../../../assets/sass-imports/_mixins.scss';
@import '../../../assets/sass-imports/_typography.scss';

:host {
	// "normal" proportionally-spaced numerals (not oldstyle)
  font-feature-settings: "lnum", "pnum";
	white-space: nowrap;
	white-space: normal;
	word-break: break-all;
	text-align: left;
	overflow: hidden;
	height: 1em;
	margin-bottom: 0.25em;
}

.gray {
	// opacity: $op4;
}