
<menu-button *ngIf="showCloseButton"
             [static]="true"
             (click)="clickClose()"
             color="new-tx"
             class="close"></menu-button>
<div #fixed class="new-tx-circle-fixed"
     [ngStyle]="fixedCircleStyle"
     [hidden]="!showFixedCircle">
  <div class="fill"
       [ngStyle]="theme.processingBackgroundStyle"></div>
</div>
<div class="new-tx-info"
     [ngStyle]="newTxInfoStyle"
     [ngClass]="{ 'show': showFixedCircle }">

  <div class="new-tx-info-content"
       [ngStyle]="theme.newTxTextStyle"
       [ngClass]="{ 'hide': hidingFixedCircle }">
    <h4 class="all-small-caps">Confirm transaction</h4>
    <span *ngIf="currentAuth == authState.metamask">Click Confirm in MetaMask to send</span>
    <span *ngIf="currentAuth == authState.trezor">Press Confirm on your Trezor to send</span>
    <span *ngIf="currentAuth == authState.ledger">Press Confirm on your Ledger to send</span>

    <div class="transaction">
      <div class="end-cap"
           [ngStyle]="{'background': theme.newTxColor,
                       'color': theme.processingColor }">
        <div class="to all-small-caps">To</div>
        <div class="address lining-proportional" *ngIf="transaction?.asset.symbol === 'ETH'">{{ transaction?.toAddress }}</div>
        <div class="address lining-proportional" *ngIf="transaction?.asset.symbol !== 'ETH'">{{ transaction?.tokenToAddress }}</div>
      </div>

      <app-arrow [direction]="'up'"></app-arrow>
      <div class="amount lining-proportional"
           [ngStyle]="{ 'border-color': theme.newTxColor }">{{ transaction?.valueToBN().toString(10) }} {{ transaction?.asset.symbol }}</div>
      <div class="arrow-top"
           [ngStyle]="{ 'border-right': '2px solid ' + theme.newTxColor }"></div>

      <div class="end-cap"
           [ngStyle]="{'background': theme.newTxColor,
                       'color': theme.processingColor }">
        <div class="from all-small-caps">From</div>
        <div class="address lining-proportional">{{ transaction?.fromAddress }}</div>

      </div>



    </div>

<!--     <div *ngIf="currentAuth != authState.trezor && currentAuth != authState.ledger && currentAuth != authState.metamask">
      <app-button new-tx (click)="cancelTx()">Cancel</app-button>
      <app-button new-tx (click)="submitTx()">Send</app-button>
    </div> -->


    <span class="caption">Estimated fees</span><br>
    <p class="lining-proportional">{{ transaction?.transactionFeesGwei().toString(10) }} Gwei ({{ transaction?.transactionFees().toString(10) }} ETH)</p>

    <div *ngIf="currentAuth != authState.trezor && currentAuth != authState.ledger && currentAuth != authState.metamask">
      <app-button new-tx (click)="cancelTx()">Cancel</app-button>
      <app-button new-tx (click)="submitTx()">Send</app-button>
      <br>
      <br>
    </div>


    <p class="generated-tx lining-proportional" *ngIf="userPreferences.showPreSigned">
      {{ transaction?.txToString() }}
    </p>
  </div>
</div>
