@import '../../../assets/sass-imports/_variables.scss';
@import '../../../assets/sass-imports/_mixins.scss';

:host {
	position: fixed;
	z-index: $newTransactionZ;
	box-sizing: border-box;
	padding: 0 0 5em;
	@include flex-center;
	@media(max-width: $tabletMaxBreakPoint) {
		// padding: 5em 0 10em;
	}
	@media(max-width: $mobileMaxBreakPoint) {
		
	}
}

.new-tx-circle-fixed {
	$fixedCircleTransitionTime: 1s;
	// display: none;
	position: fixed;
	z-index: 1;
	border-radius: 99em;
	transition: 0s;
	pointer-events: none;
	.fill {
		// background: gray;
		// opacity: .5;
	}
}

.fill {
	background: gray;
	// opacity: .8;
	border-radius: 99em;
	@include posa-tblr;
}

$infoInitialScale: .6;
$infoTransitionTime: .5s;

@keyframes content-in {
	to {
		opacity: 1;
		transform: scale(1);
	}
}
@keyframes content-out {
	to {
		opacity: 0;
		transform: scale($infoInitialScale);
	}
}

.close {
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	opacity: 0;
	@keyframes close-in {
		from {opacity: 0;}
		to {opacity: 1;}
	}
	animation: .2s close-in .5s forwards;
}

.new-tx-info {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	display: none;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transform: scale($infoInitialScale);
	overflow: auto;
	transition: top .5s;
	animation: $infoTransitionTime content-in $infoTransitionTime * .25 forwards;
	&.show {
		display: flex;
	}
}

.new-tx-info-content {
	// line-height: 2em;
	max-width: 30em;
	margin: auto 0;
	padding: $defaultMargin;
	text-align: center;
	color: black;
	h4 {
		font-size: 2em;
		font-weight: normal;
		margin: 0 0 .1em 0;
	}
	.transaction {
		position: relative;
		overflow: hidden;
		border-radius: .5em;
		font-family: $S;
		margin: $defaultMargin 0;
		.to-from {
			
		}
		.end-cap {
			padding: $defaultMargin * .4 $defaultMargin $defaultMargin * .5;
			border-radius: 1em;
			.from, .to {
				margin-bottom: $defaultMargin / 2;
			}
		}
		.address {
			word-break: break-all;
			word-wrap: break-word;
		}
	}
	.arrow-top {
		margin: 0 auto;
		width: 0;
		height: 1em;
	}
	.amount {
		display: inline-block;
		border-radius: 1em;
		border: 2px solid black;
		font-size: 1.3em;
		word-break: break-all;
    padding: $defaultMargin / 4 $defaultMargin;
		// margin: 0.2em;
	}
	.generated-tx {
		text-align: left;
		font-family: $P;
		word-break: break-word;
	}
	&.hide {
		animation: $infoTransitionTime content-out forwards;
	}
}