<div #qrBox class="qr-box"
		 [ngStyle]="{ 'height': qrSize + 'px' }">
	<ngx-kjua *ngIf="qrSize"
						class="qr"
						[text]="address"
						[renderAsync]="false"
						[crisp]="true"
						[ecLevel]="'L'"
						[size]="qrSize"
						[fill]="theme.primaryColor"
						[back]="'transparent'"></ngx-kjua>
	</div>
<p class="lining-proportional break-all my-address">{{ address }}</p>