<div class="menu-button"
		 (click)="showSidebar = !showSidebar">
	<div class="symbol-box x"
				  [ngClass]="{ 'x': showSidebar }">
		<div class="symbol"></div>
	</div>
</div>

<div class="overlay"
		 *ngIf="showSidebar"
		 (click)="showSidebar = !showSidebar"></div>
<div class="sidebar"
		 [ngClass]="{ 'open': showSidebar }">
	<div class="sidebar-top">
		<a href="http://block16.io" target="_blank"><img src="assets/img/branding/logo.svg"
					 class="logo"></a>
	</div>
	<div class="h2Border menu-title">
		<h2>Recent</h2>
		<span class="caption section-caption all-small-caps">past hour</span>
	</div>
	<div class="recent-entries">
		<div *ngFor="let tx of recentTransactions"
				 class="recent-entry">
			<div class="dot"
					 [ngClass]="{ 'processing': tx.status == 'processing',
					 							'confirmed': tx.status == 'confirmed',
					 							'failed': tx.status == 'failed' }"></div>
			<div class="main">
				<span *ngIf="tx.status == 'confirmed'">{{tx.confirmations}} confirmations</span>
				<span *ngIf="tx.status == 'processing'">Processing</span>
				<span *ngIf="tx.status == 'failed'">Failed</span><br>
				<span class="action lining-proportional">Sent {{tx.amount}} {{tx.token}}</span>
			</div>
			<div class="time">ago</div>
			<img class="chevron" src="assets/img/icons/chevron right.svg" alt="">
		</div>
	</div>
	<div class="h2Border menu-title">
		<h2>Auth</h2>
		<span class="caption all-small-caps">Current auth</span>
	</div>
	<div class="h2Border menu-title">
		<h2>Preferences</h2>
	</div>
	<div class="preference"
			 (click)="setUserPreference('manualGas', !userPreferences['manualGas'])">
		<span>Set gas price manually</span>
		<div class="toggle-switch"
				 [ngClass]="{'on': userPreferences['manualGas'] }">
		</div>
	</div>
	<div class="preference"
			 (click)="setUserPreference('viewGenerated', !userPreferences['viewGenerated'])">
		<span>View generated transaction</span>
		<div class="toggle-switch"
				 [ngClass]="{'on': userPreferences['viewGenerated'] }">
		</div>
	</div>
	<div class="preference"
			 (click)="setUserPreference('darkMode', !userPreferences['darkMode'])">
		<span>Dark mode</span>
		<div class="toggle-switch"
				 [ngClass]="{'on': userPreferences['darkMode'] }">
		</div>
		<!-- <input id="dark-mode"
					 class="toggle-switch"
					 [ngModel]="darkMode"
					 type="checkbox">
		<label for="dark-mode"></label> -->
	</div>
</div>
