<menu-button class="menu-button"
 						 [(value)]="showSidebar"
 						 [ngClass]="{ 'show': (!(!dataLoaded && currentAuth != AuthState.none)) || autoShowMenuButton }"
 						 main></menu-button>
<div class="overlay"
		 [ngStyle]="theme.overlayStyle"
		 *ngIf="showSidebar"
		 (click)="showSidebar = !showSidebar"></div>
<div class="sidebar"
		 [ngClass]="{ 'open': showSidebar }"
		 [ngStyle]="theme.mainStyle">
	<div class="sidebar-top"
			 [ngStyle]="theme.secondaryBackgroundStyle">
		<a class="logo"
			 href="http://block16.io"
			 target="_blank">
			 <app-themed-svg class="svg" [hidden]="!showSidebar" src="/assets/img/icons/inline-svg/west logo.svg" svgColor="primary">
       </app-themed-svg>
		</a>
	</div>
	
	<br>
	<div class="sidebar-content">
		<app-line-title title="Preferences"
										color="primary"
										margin-escape></app-line-title>
		
<!-- 		  <app-hover-style class="preference" (click)="toggleAutoAuth()">
			<span>Authenticate automatically</span>
			<toggle-switch [clickable]="false"
										 [(value)]="userPreferences['autoAuth']"
										 [name]="'autoAuth'"></toggle-switch>
		</app-hover-style> -->
		
		<app-hover-style class="preference" (click)="toggleManualGas()">
			<span>Set gas price manually</span>
			<toggle-switch [clickable]="false"
										 [(value)]="userPreferences['manualGas']"
										 [name]="'manualGas'"></toggle-switch>
		</app-hover-style>
		
		  <!-- Presigned -->
		<app-hover-style class="preference" (click)="toggleShowPreSigned()">
			<span>Show pre-signed transaction</span>
			<toggle-switch [clickable]="false"
										 [(value)]="userPreferences['showPreSigned']"
										 [name]="'showPreSigned'"
			></toggle-switch>
		</app-hover-style>
		
		  <!-- Random Theme -->
		  <app-hover-style class="preference" (click)="toggleRandomTheme()">
			<span>Random theme</span>
			<toggle-switch [clickable]="false"
										 [(value)]="userPreferences['randomTheme']"
										 [name]="'randomTheme'"></toggle-switch>
		</app-hover-style>
		
		  <div class="preference">
			<span>Theme</span>
		    <form [formGroup]="themeForm">
		      <app-select [control]="themeForm.controls['themePreferences']"
		    						  [options]="themes"
		                  [initialValue]="theme"
		    						  [optionProperty]="'name'"
		    						  small>
		      </app-select>
		    </form>
		</div>
		
		  <div class="preference">
			<span>Additional denomination</span>
		
		    <form [formGroup]="denominationForm">
		      <app-select [control]="denominationForm.controls['denomination']"
		    						  [options]="denominations"
		                  [initialValue]="userPreferences.denomination.abbreviation"
		    						  small>
		      </app-select>
		    </form>
		</div>
		  <!--
		<div class="preference">
			<span>Provider</span>
		    <form [formGroup]="denominationForm">
		      <app-select [control]="providerForm.controls['provider']"
		    						  [options]="providers"
		                  [initialValue]="currentProvider"
		                  [optionProperty]="'name'"
		    						  small >
		      </app-select>
		    </form>
		</div> -->
		<br>
		<app-button class="wide" disabled="true" secondary>On-chain preferences coming soon</app-button>
		<br><br><br>
	</div>
	
	<div class="sidebar-info">
		<app-themed-svg class="canary-svg"
										(click)="showCanaryModal = true"
										src="/assets/img/icons/inline-svg/canary.svg"
										svgColor="primary">
		</app-themed-svg>
		<a href="https://gitlab.com/block16/ethereum-portal" target="_blank">
			<app-themed-svg class="gitlab-svg"
											src="/assets/img/icons/inline-svg/gitlab wordmark.svg"
											srcDark="/assets/img/icons/inline-svg/gitlab wordmark dark.svg"
											svgColor="primary">
			</app-themed-svg>
		</a>
		<div class="faq-button"
				 (click)="showFAQModal = true">?</div>
	</div>
	<app-button class="disclaimer-button"
							*ngIf="currentAuth != 'None'"
							(click)="showDisclaimerModal = true"
							no-outline>Disclaimer</app-button>
</div>

<modal [(visible)]="showFAQModal" [title]="'F.A.Q.'">
	<app-faq></app-faq>
</modal>

<modal [(visible)]="showDisclaimerModal" [title]="'Disclaimer'">
	<app-disclaimer></app-disclaimer>
</modal>

<modal [(visible)]="showCanaryModal"
			 [title]="'Canary'">
	<p class="lining-proportional">Block 16 has not received any legal process that it would be prohibited from acknowledging publicly, such as a national security letter or a gag order attached to a court order for data or testimony. Additionally, we are not aware of any employee, contractor, vendor or affiliate—with current or past access to our records—who has been compelled to provide data in any government action.</p>
</modal>