@import '../../../assets/sass-imports/_variables.scss';
@import '../../../assets/sass-imports/_mixins.scss';

:host {
	position: fixed;
	z-index: $sidebarZ;
}

$menuButtonZ: 3;
$menuZ: 2;
$overlayZ: 1;

.menu-button {
	position: fixed;
	z-index: $menuButtonZ;
	top: 0;
	left: 0;
}


.overlay {
	position: fixed;
	z-index: $overlayZ;
	background: $overlayColor;
	@include no-select-pointer;
	@include tblr;
	animation: overlay-in .1s;
	@keyframes overlay-in {
		from {
			background: transparent;
		}
	}
}

.sidebar {
	position: fixed;
	z-index: $menuZ;
	display: block;
	overflow: auto;
	top: 0;
	left: -$sidebarWidth;
	background: $backgroundColor;
	height: 100vh;
	width: $sidebarWidth;
	padding: 0 $defaultMargin;
	box-sizing: border-box;
	transition: left .075s;
	.sidebar-top {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		height: $defaultMargin * 2 + $menuButtonHeight;
		.logo {
			height: $menuButtonHeight * 1.2;
			width: 10em;
			opacity: 1;
			animation: .1s logo-in ease-in;
			@keyframes logo-in {
				from { opacity: 0; }
				to { opacity: 1; }
			}
			transition: $defaultTransitionTime;
			&:hover {
				opacity: .2;
			}
		}
	}
	&.open {
		left: 0;
		@media (max-width: $desktopBreakPoint) {
			width: 100%;
		}
	}
}

.recent-entries {
	padding: 0 0 20px;
}

.preference {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: $defaultMargin / 2 $defaultMargin;
	margin: 0 $defaultMargin * -1;
	span {
		opacity: .5;
		font-size: $captionFontSize;
	}
	@include no-select;
}

