@import '../../../assets/sass-imports/_variables.scss';
@import '../../../assets/sass-imports/_mixins.scss';

:host {
	position: fixed;
	z-index: $sidebarZ;
}

$menuButtonZ: 3;
$menuZ: 2;
$overlayZ: 1;

.menu-button {
	position: fixed;
	z-index: $menuButtonZ;
	top: 0;
	left: 0;
	width: $sideDockWidth;
	@include no-select-pointer;
}

.symbol-box { 
	$lineThickness: 4px;
	$transitionTime: .1s;
	@include pass-through;
	position: relative;
	height: $menuButtonHeight;
	width: $menuButtonWidth;
	margin: $defaultMargin;
	padding: 0;
	box-sizing: content-box;
	background: transparent;
	// border: 1px solid blue;
	overflow: hidden;
	.symbol {
		position: absolute;
		background: black;
		width: $menuButtonWidth * 2;
		height: $lineThickness;
		top: $menuButtonHeight / 2 - $lineThickness / 2;
		left: -$menuButtonWidth / 2;
		// opacity: .5;
		transform: rotate(0deg);
		transition: transform $transitionTime,
								top $transitionTime;
		&:before {
			// background: green;
			background: black;
			top: -$menuButtonHeight / 2 + $lineThickness / 2;
			transition: transform $transitionTime,
									top $transitionTime,
									opacity $transitionTime / 2;
		}
		&:after {
			// background: red;
			background: black;
			bottom: -$menuButtonHeight / 2 + $lineThickness / 2;
			transition: transform $transitionTime,
									bottom $transitionTime;
		}
		&:before, &:after {
			content: '';
			position: absolute;
			left: 0;
			width: $menuButtonWidth * 2;
			height: $lineThickness;
			transform: rotate(0deg);
		}
	}
	&.x {
		.symbol {
			transform: rotate(57deg);
			&:before {
				top: 0;
				transform: rotate(0deg);
				opacity: 0;
			}
			&:after {
				bottom: 0;
				transform: rotate(66deg);
			}
		}
	}
}

.overlay {
	position: fixed;
	z-index: $overlayZ;
	background:hsla(0,0,0,.5);
	@include no-select-pointer;
	@include tblr;
	animation: overlay-in .1s;
	@keyframes overlay-in {
		from {
			background: transparent;
		}
	}
}

.sidebar {
	position: fixed;
	z-index: $menuZ;
	display: block;
	top: 0;
	left: -$sidebarWidth;
	background: $backgroundColor;
	height: 100vh;
	width: $sidebarWidth;
	padding: 0 $defaultMargin;
	box-sizing: border-box;
	transition: left .075s;
	.sidebar-top {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		height: $defaultMargin * 2 + $menuButtonHeight;
		a {
			opacity: .2;
			transition: $defaultTransitionTime;
			&:hover {
				opacity: 1;
			}
		}
		.logo {
			height: $menuButtonHeight * 1.1;
		}
	}
	&.open {
		left: 0;
		@media (max-width: $desktopBreakPoint) {
			width: 100%;
		}
	}
}

.recent-entries {
	padding: 0 0 20px;
}
.recent-entry {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px $defaultMargin 10px $defaultMargin * 1.2;
	margin: 0 $defaultMargin * -1;
	@include no-select-pointer;
	&:hover {
		background: hsla(0,0,0,.05);
	}
	.dot {
		height: $transactionDotSize;
		width: $transactionDotSize;
		background: $yellow;
		border-radius: 99em;
		&.pending {
			background: $yellow;
		}
		&.confirmed {
			background: $green;
		}
		&.failed {
			background: $red;
		}
	}
	.main {
		flex: 1;
		padding-left: 20px;
		font-weight: bold;
		.action {
			font: normal 14px $S;
			opacity: .5;
		}
	}
	.time {
		font-size: 12px;
		opacity: .5;
	}
}

.preference {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: $defaultMargin / 2 $defaultMargin;
	margin: 0 $defaultMargin * -1;
	&:hover {
		background: hsla(0,0,0,.05);
	}
	span {
		opacity: .5;
		font-size: $captionFontSize;
	}
	@include no-select-pointer;
}

