<menu-button class="menu-button"
						 [(value)]="showSidebar"></menu-button>

<div class="overlay"
		 [ngStyle]="theme.overlayStyle"
		 *ngIf="showSidebar"
		 (click)="showSidebar = !showSidebar"></div>
<div class="sidebar"
		 [ngClass]="{ 'open': showSidebar }"
		 [ngStyle]="theme.mainStyle">
	<div class="sidebar-top">
		<a href="http://block16.io"
			 class="primary-svg logo"
			 [hidden]="!showSidebar"
			 [inlineSVG]="'/assets/img/icons/inline-svg/logo.svg'"
			 target="_blank">
		</a>
	</div>
	<div class="h2Border menu-title"
			 [ngStyle]="theme.textStyle">
		<h2>Recent</h2>
		<span class="caption section-caption all-small-caps">past hour</span>
	</div>
	<div class="recent-entries">
		<app-recent-transaction *ngFor="let tx of recentTransactions"
														[transaction]="tx"
														[theme]="theme"></app-recent-transaction>
	</div>
	<div class="h2Border menu-title bottom-margin" [ngStyle]="theme.textStyle">
		<h2>Auth</h2>
		<span class="caption all-small-caps">Current auth</span>
	</div>
	<section class="section-content">
		<app-button [ngStyle]="theme.buttonStyle">Un-auth</app-button>
	</section>
	<div class="h2Border menu-title" [ngStyle]="theme.textStyle">
		<h2>Preferences</h2>
	</div>
	<div class="preference" (click)="setUserPreference('manualGas', !userPreferences['manualGas'])">
		<span>Set gas price manually</span>
		<toggle-switch [clickable]="false"
									 [(value)]="userPreferences['manualGas']"
									 [name]="manualGas"></toggle-switch>
	</div>
	<div class="preference" (click)="setUserPreference('showGenerated', !userPreferences['showGenerated'])">
		<span>View generated transaction</span>
		<toggle-switch [clickable]="false"
									 [(value)]="userPreferences['showGenerated']"
									 [name]="showGenerated"
		></toggle-switch>
	</div>
	<div class="preference">
		<span>Theme</span>
    <form [formGroup]="themeForm">
		<div class="custom-select small" [ngStyle]="theme.selectStyle">
			<div class="select-overlay" [ngStyle]="theme.textStyle">
				<span>{{ theme['name'] }}</span>
			</div>
			<select name="theme-preferences-switch" id="theme-preferences-switch" [formControl]="themeForm.controls['themePreferences']">
						  <!-- [(ngModel)]="userPreferences['theme']"
						  (change)="changeTheme()"> -->
        <option *ngFor="let t of themes" [ngValue]="t.name">{{ t.name }}</option>
			</select>
		</div>
		<!-- <input id="dark-mode"
					 class="toggle-switch"
					 [ngModel]="darkMode"
					 type="checkbox">
		<label for="dark-mode"></label> -->
    </form>
	</div>
	<div class="preference">
		<span>Additional denomination</span>

    <form [formGroup]="denominationForm">
		  <div class="custom-select small" [ngStyle]="theme.selectStyle">
		  	<div class="select-overlay" [ngStyle]="theme.textStyle">
		  		<span>{{ userPreferences['denomination'] }}</span>
		  	</div>
		  	<select name="denominations-select" id="denominations-select">
          <!-- [(ngModel)]="userPreferences['denomination']" (change)="changeDenomination()"> -->
		  		<option value="None">None</option>
		  		<option value="USD">USD</option>
		  		<option value="Euro">Euro</option>
		  	</select>
		  </div>
    </form>
	</div>
</div>
