@import '../../../assets/sass-imports/_variables.scss';
@import '../../../assets/sass-imports/_mixins.scss';
@import '../../../assets/sass-imports/_ui.scss';

:host {
	position: fixed;
	z-index: $sidebarZ;
}

$menuButtonZ: 3;
$menuZ: 2;
$overlayZ: 1;

.menu-button {
	position: fixed;
	z-index: $menuButtonZ;
	top: 0;
	left: 0;
}


.overlay {
	position: fixed;
	z-index: $overlayZ;
	background: $overlayColor;
	@include no-select-pointer;
	@include tblr;
	animation: overlay-in .1s;
	@keyframes overlay-in {
		from {
			background: transparent;
		}
	}
}

.sidebar {
	position: fixed;
	z-index: $menuZ;
	display: block;
	display: grid;
	grid-template: 'top' min-content
								 'content' auto
								 'extra-info' min-content
								 'disclaimer' min-content
								 '.' 0;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	top: 0;
	left: -$sidebarWidth;
	background: $backgroundColor;
	height: 100vh;
	width: $sidebarWidth;
	padding: 0 $defaultMargin;
	box-sizing: border-box;
	transition: left .075s;
	.sidebar-top {
		position: sticky;
		z-index: 2;
		top: 0;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		height: $defaultMargin * 2 + $menuButtonHeight;
		padding: 0 $defaultMargin;
		grid-area: top;
		@include margin-escape($defaultMargin);
		.logo {
			// height: $menuButtonHeight * 1.2;
			width: 9em;
	    margin-top: .25em;
			opacity: 1;
			animation: .1s logo-in ease-in .25s;
			@keyframes logo-in {
				from { opacity: 0; }
				to { opacity: 1; }
			}
			transition: $defaultTransitionTime;
			&:hover {
				opacity: .6;
			}
		}
	}
	&.open {
		left: 0;
		@media (max-width: $mobileMaxBreakPoint) {
			width: 100%;
		}
	}
}

.sidebar-content {
	grid-area: content;
}
.sidebar-info {
	grid-area: extra-info;
	display: grid;
	grid-template: 'gitlab . canary faq'
								/ auto 1fr auto auto;
	align-items: center;
	.gitlab-svg {
		grid-area: gitlab;
		display: inline-block;
		width: 5em;
	}
	.canary-svg {
		grid-area: canary;
		display: inline-block;
		width: 1.8em;
		padding: 1em .5em;
		cursor: pointer;
	}
	.faq-button {
		grid-area: faq;
		position: relative;
		margin-right: -$defaultMargin;
	}
}

.disclaimer-button {
	grid-area: disclaimer;
	// position: absolute;
	// bottom: 0;
	// left: 0;
	// right: 0;
	@include margin-escape($defaultMargin);
}

.recent-entries {
	padding: 0 0 20px;
}

.preference {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: $defaultMargin / 2 $defaultMargin;
	margin: 0 $defaultMargin * -1;
	span {
		// opacity: .5;
		font-size: $captionFontSize;
	}
	@include no-select;
}

