@import '../../../assets/sass-imports/_variables.scss';
@import '../../../assets/sass-imports/_mixins.scss';

:host {
	display: grid;
	min-height: 100vh;
	@media(max-width: $tabletMaxBreakPoint) {
		
	}
	@media (max-width: $mobileMaxBreakPoint) {
		
	}
}

.layout {
	box-sizing: border-box;
	margin-top: $navBarHeight;
	min-height: 100vh;
	@include posa-tblr;
	@media(max-width: $tabletMaxBreakPoint) {
		position: relative;
	}
	@media (max-width: $mobileMaxBreakPoint) {
		margin-top: 0;
	}
}