<app-navbar *ngIf="currentAuth != AuthState.none"></app-navbar>
<app-sidebar [showSidebar]="showSidebar"></app-sidebar>
<app-index [ngStyle]="theme.mainStyle"
					 (showSidebarChange)="showSidebarChange($event)"></app-index>
<app-notification-list></app-notification-list>
