@import '../../../assets/sass-imports/_variables.scss';
@import '../../../assets/sass-imports/_mixins.scss';

:host {
	display: block;
	// padding-top: $navBarHeight;
	min-height: 100vh;
	@media(max-width: $tabletMaxBreakPoint) {
		
	}
	@media (max-width: $mobileMaxBreakPoint) {
		padding-top: 0;
		padding-bottom: $navBarHeight;
	}
}

.layout {
	box-sizing: border-box;
	background: blue;
	margin-top: $navBarHeight;
	@include posa-tblr;
	@media(max-width: $tabletMaxBreakPoint) {
		position: relative;
	}
}