/* You can add global styles to this file, and also import other style files */
@import 'assets/sass-imports/_normalize.scss';
@import 'assets/sass-imports/_fonts.scss';
@import 'assets/sass-imports/_variables.scss';
@import 'assets/sass-imports/_mixins.scss';
@import 'assets/sass-imports/_typography.scss';
@import 'assets/sass-imports/_ui.scss';
@import 'assets/sass-imports/_utility.scss';

html {
	// background: $backgroundColor;
	font: normal 16px $S;
	font-feature-settings: "salt" 1;
}

::selection {
	background: hsl(0,0,40);
	color: white;
}

a {
	text-decoration: none;
}