@font-face {
	font-family: 'FuturaMedium';
	src: url('assets/fonts/futuramedium.woff') format('woff');
}

@font-face {
	font-family: 'FuturaBold';
	src: url('assets/fonts/futurabold.woff') format('woff');
}

@font-face {
	font-family: 'FuturaExtraBold';
	src: url('assets/fonts/futuraextrabold.woff') format('woff');
}

@font-face {
	font-family: 'FuturaBold2';
	src: url('assets/fonts/futurabold2.woff2') format('woff2'),
	url('assets/fonts/futurabold2.woff') format('woff');
}

@font-face {
	font-family: 'FuturaExtraBold2';
	src: url('assets/fonts/futuraextrabold2.woff2') format('woff2'),
	url('assets/fonts/futuraextrabold2.woff') format('woff');
}

@font-face {
	font-family: 'Scala';
	font-style: normal;
	font-weight: normal;
	src: url('assets/fonts/scala.woff2') format('woff2'),
			 url('assets/fonts/scala.woff') format('woff');
}

@font-face {
	font-family: 'Scala';
	font-style: italic;
	font-weight: normal;
	src: url('assets/fonts/scalaitalic.woff2') format('woff2'),
			 url('assets/fonts/scalaitalic.woff') format('woff');
}

@font-face {
	font-family: 'Scala';
	font-style: normal;
	font-weight: bold;
	src: url('assets/fonts/scalabold.woff2') format('woff2'),
			 url('assets/fonts/scalabold.woff') format('woff');
}

@font-face {
	font-family: 'Plex';
	src: url('assets/fonts/IBMPlexMono-Medium.ttf') format('truetype');
}

// @font-face {
// 	font-family: 'KlavikaRegular';
// 	src: url('assets/fonts/KlavikaWebBasicRegular.woff') format('woff');
// }

// @font-face {
// 	font-family: 'KlavikaMedium';
// 	src: url('assets/fonts/KlavikaWebBasicMedium.woff') format('woff');
// }

// @font-face {
// 	font-family: 'KlavikaBold';
// 	src: url('assets/fonts/KlavikaWebBasicBold.woff') format('woff');
// }

// @font-face {
// 	font-family: 'KlavikaDisplayBlack';
// 	src: url('assets/fonts/KlavikaWebDisplayBlack.woff') format('woff');
// }
