@font-face {
	font-family: 'FuturaMedium';
	src: url('assets/fonts/futuramedium.woff') format('woff');
}

@font-face {
	font-family: 'FuturaBold';
	src: url('assets/fonts/futurabold.woff') format('woff');
}

@font-face {
	font-family: 'FuturaExtraBold';
	src: url('assets/fonts/futuraextrabold.woff') format('woff');
}

@font-face {
	font-family: 'Scala';
	src: url('assets/fonts/scala.woff') format('woff');
}

@font-face {
	font-family: 'ScalaBold';
	src: url('assets/fonts/scalabold.woff') format('woff');
}

// @font-face {
// 	font-family: 'KlavikaRegular';
// 	src: url('assets/fonts/KlavikaWebBasicRegular.woff') format('woff');
// }

// @font-face {
// 	font-family: 'KlavikaMedium';
// 	src: url('assets/fonts/KlavikaWebBasicMedium.woff') format('woff');
// }

// @font-face {
// 	font-family: 'KlavikaBold';
// 	src: url('assets/fonts/KlavikaWebBasicBold.woff') format('woff');
// }

// @font-face {
// 	font-family: 'KlavikaDisplayBlack';
// 	src: url('assets/fonts/KlavikaWebDisplayBlack.woff') format('woff');
// }
