// basic styles

$h1PaddingTop: 4px;
$h2PaddingTop: 4px;
$h3PaddingTop: 2px;

h1, h2, h3, h4, h5 {
	border-color: inherit;
}

.jumbo-head {
	font: normal 68px $FEB;
}

h1, .head1 {
	font: normal 48px $FEB;
	&.top-border {
		padding-top: $h1PaddingTop;
		border-top: $h1BarThickness solid black;
		border-color: inherit;
	}
	&.main-head {
		margin-bottom: 14px;
	}
}

h2, .head2 {
	font: normal 26px $FEB;
	&.top-border {
		padding-top: $h2PaddingTop;
		border-top: $h2BarThickness solid black;
		border-color: inherit;
	}
}

h3, .head3 {
	font: normal 17px $FB;
	&.top-border {
		padding-top: $h3PaddingTop;
		border-top: $h3BarThickness solid black;
		border-color: inherit;
	}
}

h4, .head4 {
	font: bold 16px $S;
	&.top-border {
		border-top: $h4BarThickness solid black;
		border-color: inherit;
	}
}

p, .paragraph-text {
	font: normal $pFontSize $S;
	line-height: 1.5em;
}

.caption {
	font: bold $captionFontSize $S;
}

// color
.fade {
	opacity: .3;
}

// borders
.h1Border {
	border-top: $h1BarThickness solid black;
}

.h2Border {
	border-top: $h2BarThickness solid black;
}

.h3Border {
	border-top: $h3BarThickness solid black;
}

.h4Border {
	border-top: $h4BarThickness solid black;
}

// text options
.break-all {
	word-break: break-all;
}
.no-wrap {
	white-space: nowrap;
}
.strikethrough {
	text-decoration: line-through;
}

// opentype features

.no-small-caps {
	font-variant: none;
}
.small-caps {
	font-variant: small-caps;
}
.all-small-caps {
	font-variant: all-small-caps;
}
.lining-proportional { // "normal" proportionally-spaced numerals (not oldstyle)
  font-feature-settings: "lnum", "pnum";
}
.lining-tabular { // monospaced numerals
  font-feature-settings: "lnum", "tnum";
}

.ss1 { // oldstyle numeral 1 that looks normal
	font-feature-settings: "salt" 1;
}

// constructs
.menu-title {
	display: flex;
	justify-content: space-between;
	padding-top: $h2PaddingTop;
	font-family: $S;
	font-weight: bold;
	h2 {
		margin-bottom: 0;
	}
	.caption {
		margin-top: .2em;
		opacity: .4;
		font-family: "Scala";
		font-style: italic;
	}
}

// spacing
h1, h2, h3 {
	margin: 0 0 $defaultMargin * .8 0;
}
h4, p {
	margin: 0 0 $defaultMargin 0;
}