@import '_mixins.scss';
@import '_variables.scss';


.faq-button {
	position: fixed;
	top: 0;
	right: 0;
	font-family: $FEB2;
	font-size: 2.2em;
	padding: $defaultMargin / 1.5 $defaultMargin * 1.1 $defaultMargin / 1.5 $defaultMargin;
	@include no-select-pointer;
}

.section-content {
	padding-right: $defaultMargin;
	padding-bottom: $defaultMargin * 1.6;
	&.pad-left {
		padding-left: $defaultMargin * 2 + $menuButtonWidth;
	}
}

.toggle-button {
	display: inline-block;
	border-radius: 5px;
	padding: .1em 1em;
	font-family: $FB2;
	border: 1px solid black;
	color: black;
	@include no-select-pointer;
	&.on {
		background: black;
		color: $backgroundColor
	}
}

.button {
	$defaultButtonWidth: 20em;
	@include button-unstyle;
	@include no-select-pointer;
	position: relative;
	padding: .3em 2em;
	height: $inputHeight;
	background: black;
	color: white;
	font: 1em $FB2;
	&.disabled {
		cursor: default;
		background: hsla(0,0,0,.2);
		color: hsla(0,0,0,.4);
	}
	&.wide {
		width: 100%;		
	}
	&.auth-button {
		img {
			filter: invert(100%);
		}
	}
	&.file-upload {
		// width: $defaultButtonWidth;
		overflow: hidden;
		@include flex-center;
		display: inline-flex;
		input[type="file"] {
			@include posa-tblr;
			opacity: 0;
		}
		span {
			
		}
	}
}

label.form-label {
	display: block;
	padding-bottom: .4em;
}


.text-input-plus {
	position: relative;
	display: flex;
	justify-content: space-between;
  align-items: flex-end;
	margin-bottom: $defaultMargin;
	input[type="text"], input[type="number"], input[type="password"], app-input {
		flex: 1;
	}
}

$maxButtonHeight: $inputHeight * .7;
$maxButtonWidth: $maxButtonHeight * 2.5;
$maxButtonMargin: ($inputHeight - $maxButtonHeight) / 2;
.max-button-container {
	position: absolute;
	z-index: 3;
	bottom: 0;
	right: 0;
	height: $inputHeight;
	width: $maxButtonWidth + $maxButtonMargin;
	@include no-select-pointer;
	&:hover {
		.max-button {
			opacity: 1 !important;
		}
	}
}
.max-button {
	$color: hsla(0,0,0,.3);
	position: absolute;
	opacity: $op3;
	height: $maxButtonHeight;
	width: $maxButtonWidth;
	bottom: $maxButtonMargin;
	right: $maxButtonMargin;
	border: 2px solid $color;
	box-sizing: border-box;
	font-family: $FB2;
	text-transform: uppercase;
	border-radius: 4px;
	color: hsla(0,0,0,.4);
	// padding: 0 1em;
	@include flex-center;
	&.on {
		opacity: 1;
		// border: none;
		// background: $color;
		// color: $backgroundColor;
	}
}
.max-button-text {
	// margin-bottom: -.2em;
	// @-moz-document url-prefix() {
	// 	margin-bottom: -.15em;
	// }
	@include center-callibrate-text;
}


.bottom-margin {
	margin-bottom: $defaultMargin;
}