@import '_mixins.scss';
@import '_variables.scss';

.section-content {
	padding-right: $defaultMargin;
	padding-bottom: $defaultMargin * 1.6;
	&.pad-left {
		padding-left: $defaultMargin * 2 + $menuButtonWidth;
	}
}

.button {
	$defaultButtonWidth: 20em;
	@include button-unstyle;
	@include no-select-pointer;
	position: relative;
	padding: .3em 2em;
	height: $inputHeight;
	background: black;
	color: white;
	font: 1em $FB2;
	&.disabled {
		cursor: default;
		background: hsla(0,0,0,.2);
		color: hsla(0,0,0,.4);
	}
	&.wide {
		width: 100%;		
	}
	&.auth-button {
		img {
			filter: invert(100%);
		}
	}
	&.file-upload {
		// width: $defaultButtonWidth;
		overflow: hidden;
		@include flex-center;
		display: inline-flex;
		input[type="file"] {
			@include posa-tblr;
			opacity: 0;
		}
		span {
			
		}
	}
}

label.form-label {
	display: block;
	padding-bottom: .2em;
}
input[type="text"], input[type="number"], input[type="password"] {
	height: $inputHeight;
	font: normal 1em $S;
	outline: none;
	border: none;
	border-left: 4px solid black;
	border-radius: 0;
	font-weight: bold;
	background: hsla(0,0,0,.07);
	padding: .3em 0 .3em .5em;
	box-sizing: border-box;
	font-feature-settings: "lnum", "pnum";
	-webkit-appearance: none;
	&.no-arrow-buttons {
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
		    -webkit-appearance: none;
		    margin: 0;
		}
	}
	&.wide {
		width: 100%;
	}
}

.text-input-plus {
	position: relative;
	display: flex;
	justify-content: space-between;
	margin-bottom: $defaultMargin;
	input[type="text"], input[type="number"], input[type="password"] {
		flex: 1;
	}
}

$maxButtonHeight: $inputHeight * .7;
$maxButtonMargin: ($inputHeight - $maxButtonHeight) / 2;
.max-button {
	$color: hsla(0,0,0,.3);
	position: absolute;
	opacity: .5;
	height: $maxButtonHeight;
	top: $maxButtonMargin;
	right: $maxButtonMargin;
	border: 1px solid $color;
	box-sizing: border-box;
	font-family: $FB2;
	text-transform: uppercase;
	border-radius: 4px;
	color: hsla(0,0,0,.4);
	padding: 0 .5em;
	@include flex-center;
	@include no-select-pointer;
	&:hover {
		opacity: .8;
	}
	&.on {
		opacity: 1;
		border: none;
		background: $color;
		color: $backgroundColor;
	}
}


.bottom-margin {
	margin-bottom: $defaultMargin;
}