@import '_mixins.scss';
@import '_variables.scss';

.ltr {
	direction: ltr;
}
.rtl {
	direction: rtl;
}

.dib {
	display: inline-block;
}

.break-all {
	word-break: break-all;
}

.tac {
	text-align: center;
}

.no-top-margin {
	margin-top: 0;
}
.no-bottom-margin {
	margin-bottom: 0;
}

.no-padding {
	padding: 0;
}

.hidden {
	display: none;
}

.op1 {
	opacity: $op1;
}

.op2 {
	opacity: $op2;
}

.op3 {
	opacity: $op3;
}

.op4 {
	opacity: $op4;
}