// color
$backgroundColor: #EFF1F2;
$yellow: #f6eb0f;
$green: #00CF34;
$red: #ED466E;

// fonts
$FM: 'FuturaMedium';
$FB: 'FuturaBold';
$FEB: 'FuturaExtraBold';
$FB2: 'FuturaBold2';
$FEB2: 'FuturaExtraBold2';
$S: 'Scala';
$SI: 'ScalaItalic';
$SB: 'ScalaBold';

// spacing
$defaultMargin: 20px;

// sizing
$desktopBreakPoint: 800px;
$sidebarWidth: 24em;
$menuButtonWidth: $defaultMargin;
$menuButtonHeight: 24px;
$sideDockWidth: $defaultMargin * 2 + $menuButtonWidth;
$transactionDotSize: .8em;

// type
$pFontSize: 16px;
$captionFontSize: 13px;

$h1BarThickness: 6px;
$h2BarThickness: 4px;
$h3BarThickness: 2px;
$h4BarThickness: 1px;

// timing
$defaultTransitionTime: .05s;



//// Z-indexes
// Index page
$newTransactionZ: 5;
$sideDockZ: 4;
$sidebarZ: 3;
$sidebarOverlayZ: 3;