// color
$primaryColor: black;
$backgroundColor: #EFF1F2;
$yellow: #f6eb0f;
$green: #00CF34;
$red: #ED466E;
$overlayColor: hsla(0,0,0,.5);

// opacities
$op1: .05; // subtle (hover states)
$op2: .1;  // inputs, disabled switches, chevron markers
$op3: .2;  // closed sections and disabled buttons
$op4: .4;  // enabled switches, secondary labels

// fonts
$FM: 'FuturaMedium';
$FB: 'FuturaBold';
$FEB: 'FuturaExtraBold';
$FB2: 'FuturaBold2';
$FEB2: 'FuturaExtraBold2';
$S: 'Scala';
$SI: 'ScalaItalic';
$SB: 'ScalaBold';
$P: 'Plex';

// spacing
$defaultMargin: 20px;

// break points
$mobileMaxBreakPoint: 500px;
$tabletMaxBreakPoint: 1150px;

// sizing
$inputHeight: 2.3em;
$sidebarWidth: 24em;
$menuButtonHeight: 26px;
$menuButtonWidth: $menuButtonHeight / 1.35;
$navBarHeight: $menuButtonHeight + $defaultMargin * 2;
$mobileNavBarHeight: $navBarHeight * .75;
$sideDockWidth: $defaultMargin * 2 + $menuButtonWidth;
$transactionDotSize: .8em;
$modalMaxWidth: 30em;

// type
$h1FontSize: 48px;
$h2FontSize: 26px;
$h3FontSize: 17px;
$h4FontSize: 16px;
$pFontSize: 16px;
$captionFontSize: 13px;
$smallCaptionFontSize: 12px;

$h1BarThickness: 6px;
$h2BarThickness: 4px;
$h3BarThickness: 2px;
$h4BarThickness: 1px;

// timing
$defaultTransitionTime: .05s;
$introTransitionTime: .2s;

//// Z-indexes
// Index page
$modalZ: 11;
$newTransactionZ: 8;
$sidebarOverlayZ: 7;
$sideDockZ: 4;
$sidebarZ: 2;
$baseZ: 1;