// color
$backgroundColor: #fff;
$yellow: #f6eb0f;

// fonts
$FM: 'FuturaMedium';
$FB: 'FuturaBold';
$FEB: 'FuturaExtraBold';
$FB2: 'FuturaBold2';
$FEB2: 'FuturaExtraBold2';
$S: 'Scala';
$SB: 'ScalaBold';

// UI
$sidebarWidth: 24em;



//// Z-indexes
// Index page
$menuButtonZ: 4;
$sidebarZ: 3;