<a [href]="href"
	 [ngStyle]="theme.accentTextStyle"
	 target="_blank">
	<ng-content></ng-content>
	<app-themed-svg class="svg chevron"
									src="/assets/img/icons/inline-svg/chevron-mono-inline.svg"
									svgColor="accent"
									></app-themed-svg>
</a>