@import '../../../assets/sass-imports/_variables.scss';
@import '../../../assets/sass-imports/_mixins.scss';

.transactions {
	list-style-type: none;
	padding: 0;
}

.transaction {
	$rowHeight: 1.5em;
	display: grid;
	grid-template-rows: $rowHeight $rowHeight $rowHeight;
	grid-template-columns: 2em 1fr auto;
	grid-template-areas: 'icon status date'
											 '. amount time'
											 'to-from address address';
	padding: $defaultMargin / 2 $defaultMargin;
	cursor: pointer;
	&:not(:last-child){ border-bottom: 1px solid hsla(0,0,0,.1); }
	&:hover {
		background: hsla(0,0,0,.05);
		border-color: transparent;
	}
	.type-icon {
		padding-bottom: .3em;
		@include flex-center;
		img {
			height: .9em;
		}
	}
	.type-text {
		font-weight: bold;
		grid-area: status;
		&.sent {
			color: $red;
		}
		&.received {
			color: $green;
		}
	}
	.amount {
		font-weight: bold;
		grid-area: amount;
	}
	.date {
		padding-top: .3em;
		text-align: right;
		grid-area: date;
		opacity: .3;
	}
	.time {
		text-align: right;
		grid-area: time;
	}
	.to-from {
		text-align: center;
		grid-area: to-from;
		opacity: .3;
		padding-top: .1em;
	}
	.address {
		position: relative;
		z-index: 1;
		display: flex;
		align-items: center;
		grid-area: address;
		opacity: .3;
		overflow: hidden;
		&::after {
			content: '';
			background: linear-gradient(to right, transparent 0%, transparent 80%, $backgroundColor 95%, $backgroundColor 100%);
			z-index: 2;
			@include posa-tblr;
		}
	}
}