<app-transaction-list-legend [ngStyle]="theme.secondaryBackgroundStyle"></app-transaction-list-legend>
<ol class="transactions">
	<li *ngIf="transactions.length == 0 && pendingTransactions.length == 0"
			class="message no-transactions all-small-caps">
		No transactions
	</li>

	<li *ngFor="let transaction of pendingTransactions" class="transaction">
		<app-transaction-entry pending
													 [transaction]="transaction"
													 [theme]="theme"></app-transaction-entry>
	</li>

	<li *ngFor="let transaction of transactions" class="transaction">
		<app-transaction-entry [transaction]="transaction"
													 [theme]="theme"></app-transaction-entry>
	</li>

	<a *ngIf="transactions.length > 0"
		 [href]="'https://etherscan.io/txs?a=' + ethereumAddress"
		 [ngStyle]="theme.primaryTextStyle"
		 target="_blank"
		 class="message view-on-etherscan">
		View on Etherscan
	</a>
</ol>
