<ol class="transactions">
	<li *ngFor="let transaction of transactions" class="transaction">
			<div class="type-icon">
				<img *ngIf="transaction.kind == 'to'" src="assets/img/icons/sent arrow.svg" alt="">
				<img *ngIf="transaction.kind == 'from'" src="assets/img/icons/received arrow.svg" alt="">
			</div>
			<div class="type-text all-small-caps"
					 [ngClass]="{ 'sent': transaction.kind == 'to',
					 						'received': transaction.kind == 'from'}">
				<span *ngIf="transaction.kind == 'to'">Sent</span>
				<span *ngIf="transaction.kind == 'from'">Received</span>
			</div>
			<div class="amount lining-proportional">{{ transaction.amount }} {{ transaction.asset}}</div>
			<div class="date caption">June 3, 2018</div>
			<div class="time">5:23 <span class="all-small-caps">PM</span></div>
			<div class="to-from all-small-caps">
				<span *ngIf="transaction.kind == 'to'">To</span>
				<span *ngIf="transaction.kind == 'from'">Fr</span>
			</div>
			<div class="address lining-proportional">
				0x343f2EdA84CEAf92ba0408eE6bE290a2d2d295E4</div>
			<div class="chevron">
				<img src="assets/img/icons/chevron right.svg">
			</div>
	</li>
</ol>