<ol class="transactions">
	<li class="transaction">
			<div class="type-icon">
				<img src="assets/img/icons/sent arrow.svg" alt="">
			</div>
			<div class="type-text sent all-small-caps">Sent</div>
			<div class="amount lining-proportional">.075 ETH</div>
			<div class="date caption">June 3, 2018</div>
			<div class="time">5:23 <span class="all-small-caps">PM</span></div>
			<div class="to-from all-small-caps">To</div>
			<div class="address lining-proportional">
				0x343f2EdA84CEAf92ba0408eE6bE290a2d2d295E4</div>
	</li>
	<li class="transaction">
			<div class="type-icon">
				<img src="assets/img/icons/received arrow.svg" alt="">
			</div>
			<div class="type-text received all-small-caps">Received</div>
			<div class="amount lining-proportional">.075 ETH</div>
			<div class="date caption">June 3, 2018</div>
			<div class="time">5:23 <span class="all-small-caps">PM</span></div>
			<div class="to-from all-small-caps">Fr</div>
			<div class="address lining-proportional">
				0x343f2EdA84CEAf92ba0408eE6bE290a2d2d295E4</div>
	</li>
	<li class="transaction">
			<div class="type-icon">
				<img src="assets/img/icons/sent arrow.svg" alt="">
			</div>
			<div class="type-text sent all-small-caps">Sent</div>
			<div class="amount lining-proportional">.075 ETH</div>
			<div class="date caption">June 3, 2018</div>
			<div class="time">5:23 <span class="all-small-caps">PM</span></div>
			<div class="to-from all-small-caps">To</div>
			<div class="address lining-proportional">
				0x343f2EdA84CEAf92ba0408eE6bE290a2d2d295E4</div>
	</li>
	<li class="transaction">
			<div class="type-icon">
				<img src="assets/img/icons/received arrow.svg" alt="">
			</div>
			<div class="type-text received all-small-caps">Received</div>
			<div class="amount lining-proportional">.075 ETH</div>
			<div class="date caption">June 3, 2018</div>
			<div class="time">5:23 <span class="all-small-caps">PM</span></div>
			<div class="to-from all-small-caps">Fr</div>
			<div class="address lining-proportional">
				0x343f2EdA84CEAf92ba0408eE6bE290a2d2d295E4</div>
	</li>
	<li class="transaction">
			<div class="type-icon">
				<img src="assets/img/icons/sent arrow.svg" alt="">
			</div>
			<div class="type-text sent all-small-caps">Sent</div>
			<div class="amount lining-proportional">.075 ETH</div>
			<div class="date caption">June 3, 2018</div>
			<div class="time">5:23 <span class="all-small-caps">PM</span></div>
			<div class="to-from all-small-caps">To</div>
			<div class="address lining-proportional">
				0x343f2EdA84CEAf92ba0408eE6bE290a2d2d295E4</div>
	</li>
	<li class="transaction">
			<div class="type-icon">
				<img src="assets/img/icons/received arrow.svg" alt="">
			</div>
			<div class="type-text received all-small-caps">Received</div>
			<div class="amount lining-proportional">.075 ETH</div>
			<div class="date caption">June 3, 2018</div>
			<div class="time">5:23 <span class="all-small-caps">PM</span></div>
			<div class="to-from all-small-caps">Fr</div>
			<div class="address lining-proportional">
				0x343f2EdA84CEAf92ba0408eE6bE290a2d2d295E4</div>
	</li>
	<li class="transaction">
			<div class="type-icon">
				<img src="assets/img/icons/sent arrow.svg" alt="">
			</div>
			<div class="type-text sent all-small-caps">Sent</div>
			<div class="amount lining-proportional">.075 ETH</div>
			<div class="date caption">June 3, 2018</div>
			<div class="time">5:23 <span class="all-small-caps">PM</span></div>
			<div class="to-from all-small-caps">To</div>
			<div class="address lining-proportional">
				0x343f2EdA84CEAf92ba0408eE6bE290a2d2d295E4</div>
	</li>
	<li class="transaction">
			<div class="type-icon">
				<img src="assets/img/icons/received arrow.svg" alt="">
			</div>
			<div class="type-text received all-small-caps">Received</div>
			<div class="amount lining-proportional">.075 ETH</div>
			<div class="date caption">June 3, 2018</div>
			<div class="time">5:23 <span class="all-small-caps">PM</span></div>
			<div class="to-from all-small-caps">Fr</div>
			<div class="address lining-proportional">
				0x343f2EdA84CEAf92ba0408eE6bE290a2d2d295E4</div>
	</li>
	<li class="transaction">
			<div class="type-icon">
				<img src="assets/img/icons/sent arrow.svg" alt="">
			</div>
			<div class="type-text sent all-small-caps">Sent</div>
			<div class="amount lining-proportional">.075 ETH</div>
			<div class="date caption">June 3, 2018</div>
			<div class="time">5:23 <span class="all-small-caps">PM</span></div>
			<div class="to-from all-small-caps">To</div>
			<div class="address lining-proportional">
				0x343f2EdA84CEAf92ba0408eE6bE290a2d2d295E4</div>
	</li>
	<li class="transaction">
			<div class="type-icon">
				<img src="assets/img/icons/received arrow.svg" alt="">
			</div>
			<div class="type-text received all-small-caps">Received</div>
			<div class="amount lining-proportional">.075 ETH</div>
			<div class="date caption">June 3, 2018</div>
			<div class="time">5:23 <span class="all-small-caps">PM</span></div>
			<div class="to-from all-small-caps">Fr</div>
			<div class="address lining-proportional">
				0x343f2EdA84CEAf92ba0408eE6bE290a2d2d295E4</div>
	</li>
	<li class="transaction">
			<div class="type-icon">
				<img src="assets/img/icons/sent arrow.svg" alt="">
			</div>
			<div class="type-text sent all-small-caps">Sent</div>
			<div class="amount lining-proportional">.075 ETH</div>
			<div class="date caption">June 3, 2018</div>
			<div class="time">5:23 <span class="all-small-caps">PM</span></div>
			<div class="to-from all-small-caps">To</div>
			<div class="address lining-proportional">
				0x343f2EdA84CEAf92ba0408eE6bE290a2d2d295E4</div>
	</li>
	<li class="transaction">
			<div class="type-icon">
				<img src="assets/img/icons/received arrow.svg" alt="">
			</div>
			<div class="type-text received all-small-caps">Received</div>
			<div class="amount lining-proportional">.075 ETH</div>
			<div class="date caption">June 3, 2018</div>
			<div class="time">5:23 <span class="all-small-caps">PM</span></div>
			<div class="to-from all-small-caps">Fr</div>
			<div class="address lining-proportional">
				0x343f2EdA84CEAf92ba0408eE6bE290a2d2d295E4</div>
	</li>
	<li class="transaction">
			<div class="type-icon">
				<img src="assets/img/icons/sent arrow.svg" alt="">
			</div>
			<div class="type-text sent all-small-caps">Sent</div>
			<div class="amount lining-proportional">.075 ETH</div>
			<div class="date caption">June 3, 2018</div>
			<div class="time">5:23 <span class="all-small-caps">PM</span></div>
			<div class="to-from all-small-caps">To</div>
			<div class="address lining-proportional">
				0x343f2EdA84CEAf92ba0408eE6bE290a2d2d295E4</div>
	</li>
	<li class="transaction">
			<div class="type-icon">
				<img src="assets/img/icons/received arrow.svg" alt="">
			</div>
			<div class="type-text received all-small-caps">Received</div>
			<div class="amount lining-proportional">.075 ETH</div>
			<div class="date caption">June 3, 2018</div>
			<div class="time">5:23 <span class="all-small-caps">PM</span></div>
			<div class="to-from all-small-caps">Fr</div>
			<div class="address lining-proportional">
				0x343f2EdA84CEAf92ba0408eE6bE290a2d2d295E4</div>
	</li>
</ol>