@import '../../../assets/sass-imports/_variables.scss';
@import '../../../assets/sass-imports/_mixins.scss';
@import './transaction-entry/transaction-entry.component.scss';

:host {
	display: block;
	position: relative;
	cursor: default;
	padding: 0;
	@media (max-width: $tabletMaxBreakPoint) {
		margin: 0 $defaultMargin * -1;
	}
}

.transactions {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.message {
	display: block;
	padding: $defaultMargin;
	text-align: center;
	opacity: .5;
	text-decoration: none;
}

.view-on-etherscan {
	font-family: $FB2;
	opacity: .5;
	&:hover {
		opacity: 1;
	}
}

.new-transactions {
	
}

.new-transaction {
	display: flex;
	justify-content: space-between;
	div {
		display: table-cell;
		white-space: nowrap;
		padding: .5em .5em;
	}
	.asset {
		flex: 12em 0 0;
		text-align: right;
	}
	.address {
		
	}
	.tx-hash {
		flex: 1;
		text-overflow: ellipsis;
		overflow: hidden;
		width: 0;
	}
	.fee {
		
	}
	.block {
		
	}
	.time {
		
	}
	@media (max-width: $tabletMaxBreakPoint) {
		
	}
	@media (max-width: $mobileMaxBreakPoint) {
		
	}
}