@import '../../../assets/sass-imports/_variables.scss';
@import '../../../assets/sass-imports/_mixins.scss';

:host {
	padding: 0 0 0 $sideDockWidth;
	display: grid;
	grid-template: auto / 1fr auto 1fr;
}

main {
	grid-area: auto / 2;
	// display: flex;
	// justify-content: center;
}

.recent-transactions {
	position: fixed;
	width: $defaultMargin * 2 + $menuButtonWidth;
	left: 0;
	top: $defaultMargin * 2 + $menuButtonHeight;
	@include no-select-pointer;
	.transaction {
		padding: 0 0 $defaultMargin / 1.4;
		&:before {
			content: '';
			display: block;
			opacity: 1;
			width: $transactionDotSize;
			height: $transactionDotSize;
			background: gray;
			margin: 0 auto;
			border-radius: 99em;
		}
		&.confirmed {
			&:before {
				background: $green;
			}
		}
		&.failed {
			&:before {
				background: $red;
			}
		}
		&.processing {
			&:before {
				background: $yellow;
				animation: pulse 1s alternate infinite;
				@keyframes pulse {
					to {
						opacity: .15;
					}
				}
			}
		}
	}
}

.tokens {
	columns: 8em 2;
}

.qr {
	max-width: 14em;
	width: 100%;
	margin-top: $defaultMargin;
	mix-blend-mode: multiply;
}

$newTransactionTransformTime: .25s;
.new-transaction-circle {
	z-index: $newTransactionCircleZ;
	position: fixed;
	z-index: 1;
	border-radius: 99em;
	background: $yellow;
	transform: translate(0, 0);
	transition: .5s;
	&.small {
		height: $transactionDotSize;
		width: $transactionDotSize;
	}
}
.new-transaction {
	// opacity: 0;
	position: fixed;
	z-index: $newTransactionZ;
	display: flex;
	justify-content: center;
	overflow: auto;
	transform: translate(0, 0);
	transition: all .5s, opacity .1s;
	box-sizing: border-box;
	@include tblr;
	.content {
		position: relative;
		z-index: 2;
		max-width: 40em;
		margin: auto $defaultMargin auto ($defaultMargin * 2 + $menuButtonWidth);
	}
}

h1 {
	margin-top: 0;
	&.type1 {
		font-family: $FEB;
	}
	&.type2 {
		font-family: $FEB2;
		letter-spacing: .02em;
	}
}
h2 {
	&.type1 {
		font-family: $FEB;
	}
	&.type2 {
		font-family: $FEB2;
		letter-spacing: .02em;
	}
}
h3 {
	font-weight: normal;
	font-size: 1.0625em;
	&.type1 {
		font-family: $FB;
	}
	&.type2 {
		font-family: $FB2;
		letter-spacing: .02em;
	}
}

.grid {
	$columnMinWidth: 30em;
	$columnSideMargin: 1em;
	display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  grid-gap: $defaultMargin * 2 $defaultMargin;
	// display: flex;
	// flex-flow: row wrap;
	.grid-cell {
		// max-width: $columnMinWidth;
		// flex: 0 1 25em;
		// margin-right: $columnSideMargin;
		// &:last-child {
		// 	margin-right: 0;
		// }
	}
}

.icon {
	height: 1.5em;
}


.dev-buttons {
	position: fixed;
	z-index: 99;
	right: 0;
	bottom: 0;
	width: $defaultMargin * 2 + $menuButtonWidth;
	padding: 0 0 $defaultMargin / 2 0;
	display: flex;
	flex-flow: column-reverse;
	justify-content: flex-end;
	align-items: center;
	.dev-button {
		@include button-unstyle;
		@include no-select-pointer;
		@include flex-center;
		margin: $defaultMargin / 4 0;
		width: $menuButtonWidth * 1.5;
		padding: $defaultMargin 0;
		background: black;
		color: $backgroundColor;
		font: $pFontSize $FB2;
		writing-mode: vertical-lr !important;
	  transform: rotate(180deg);
	}
}
