
@import '../../../assets/sass-imports/_variables.scss';
@import '../../../assets/sass-imports/_mixins.scss';
@import '../../../assets/sass-imports/_utility.scss';
@import '../../../assets/sass-imports/_ui.scss';

:host {
	display: block;
	&:not(.intro) {
  	display: grid;
    grid-template: '.' $navBarHeight 'main' 1fr;
	  @include posa-tblr;
	  .welcome {
	  	position: relative;
	  }
	  @media(max-width: $tabletMaxBreakPoint) {
	  	position: relative;
	  	top: unset;
	  	bottom: unset;
	  	left: unset;
	  	right: unset;
	  	display: grid;
	    grid-template: '.' $navBarHeight 'main' minmax(max-content, 1fr);
	  }
	  @media(max-width: $mobileMaxBreakPoint) {
	    grid-template: 'main' minmax(max-content, 1fr) '.' $mobileNavBarHeight;
	  }
	}
}

.section-header {
	position: sticky;
	z-index: 1;
	top: 0;
	font-variant: all-small-caps;
	
	margin-left: -$defaultMargin;
	padding: $defaultMargin / 3 $defaultMargin / 2 $defaultMargin / 3 $defaultMargin;
}

.init {
	grid-area: content;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	display: grid;
	grid-template: '.' minmax($navBarHeight * .85, .5fr)
								 'title' min-content
								 'wallets' min-content
								 '.' minmax(5em, .9fr)
								 / 1fr;
	grid-gap: 1em;
	min-height: 100vh;
	.intro, .dummy {
	}
	.intro {
		grid-area: title;
		@include flex-center;
		h1 {
			font-family: $S;
			font-size: 2.5em;
			text-align: center;
			padding: 0 .5em 1em;
		}
	}
	.wallet-selection {
		display: flex;
		flex-flow: column;
		align-items: center;
		grid-area: wallets;
		flex: 0 1 auto;
		text-align: center;
	}
	.disclaimer-button {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

.wallets {
	$width: 32em;
	$sideMargin: .5em;
	$SVGHoverScale: 1.05;
	position: relative;
	// border: 4px solid rgba(0,255,0,.2);
	width: $width;
	height: $width * .5;
	margin: 0 $sideMargin;
	@media (max-width: $width + $sideMargin * 2) {
		font-size: 2.8vw;
	}
	.svg {
		transition: transform .05s;
	}
	.wallet {
		.box {
			cursor: pointer;
			// border: 4px solid rgba(0,255,0,.2);
			box-sizing: border-box;
		}
		.svg {
			opacity: 0;
			transform: scale(.5);
			display: block;
		}
		$animationLength: .3s;
		$animationDelay: .2s;
		$animationIncrement: .05s;
		@mixin svgIntroAnimation($delay) {
			@keyframes svgIntro {
				from {
					transform: scale(.75);
				}
				to {
					transform: scale(1);
					opacity: 1;
				}
			}
			animation: svgIntro $animationLength $animationDelay + $delay ease-out forwards;
		}
		.metamask .svg-container .svg {
			// @include svgIntroAnimation(0);
		}
		.ledger .svg-container .svg {
			// @include svgIntroAnimation($animationIncrement * 4);
		}
		.trezor .svg-container .svg {
			// @include svgIntroAnimation($animationIncrement * 4);
		}
		// .utc .svg-container .svg {
		// 	@include svgIntroAnimation($animationIncrement * 4);
		// }
		&.ledger {
			@mixin transform {
				transform: rotate(-10deg) translate($width * .01, $width * .05);
			}
			position: absolute;
			left: 1.4em;
			top: 0;
			height: 0;
			width: 0;
			.svg-container {
				position: absolute;
				@include transform;
			}
			.svg-scale {
				&.hover {
					transform: scale($SVGHoverScale);
				}
			}
			.svg {
				width: $width * .245;
				@include pass-through;
				@include svgIntroAnimation($animationIncrement * 6);
			}
			.box {
				position: absolute;
				left: 0;
				top: 0;
				width: $width * 0.12;
				&.one {
					opacity: .4;
					height: $width * 0.396875;
					border-radius: 99em 99em 0 0;
					transform: rotate(14deg) translate($width * 0.09375, $width * 0.011875);
					// transform-origin: 50% 85%;
				}
				&.two {
					opacity: .4;
					height: $width * 0.378125;
			    transform: rotate(-10deg) translate($width * 0.1315625, $width * 0.05875);
			    // transform-origin: 50% 15%;
				}
			}
		}
		&.metamask {
			$boxWidth: $width * .25;
			@mixin transform {
				transform: translate(-$width / 2 - -$boxWidth / 2, $width * .1);
			}
			position: absolute;
			right: 0;
			top: 0;
			height: 0;
			width: 0;
			.svg-container {
				position: absolute;
				right: 0;
				@include transform;
			}
			.svg-scale {
				&.hover {
					transform: scale($SVGHoverScale);
				}
			}
			.svg {
				width: $boxWidth;
				@include svgIntroAnimation($animationIncrement * 4);
				// transform: rotate(10deg) translate($width * -.025, $width * .02);
			}
			.box {
				// background: lime;
				position: absolute;
				right: 0;
				width: $boxWidth;
				height: $boxWidth;
				@include transform;
			}
		}
		&.trezor {
			$boxWidth: $width * 0.2;
			$boxHeight: $width * .4;
			@mixin transform {
				transform: rotate(5deg) translate(-$width * .065, $width * .05);
			}
			position: absolute;
			right: 1.5em;
			top: 0;
			height: 0;
			width: 0;
			.svg-container {
				position: absolute;
				top: 0;
				right: 0;
				@include transform;
			}
			.svg-scale {
				&.hover {
					transform: scale($SVGHoverScale);
				}
			}
			.svg {
				width: $boxWidth;
				@include svgIntroAnimation($animationIncrement * 6);
			}
			.box {
				position: absolute;
				top: 0;
				right: 0;
				width: $boxWidth;
				height: $boxHeight;
		    @include transform;
			}
		}
		&.utc {
			display: none;
			position: absolute;
			bottom: 0;
			right: 0;
			.svg-container {
				position: absolute;
				bottom: 0;
	      transform: rotate(15deg) translate($width * -0.175, $width * -0.18);
			}
			.svg-scale {
				&.hover {
		      transform: scale($SVGHoverScale);
				}
			}
			.svg {
				@include svgIntroAnimation($animationIncrement * 3);
	      // transform-origin: 50% 15%;
				width: $width * 0.28;
			}
			.box {
	      // transform-origin: 50% 15%;
	      transform: rotate(15deg) translate($width * -0.175, $width * -0.18);
				border-radius: 4em 0 0 0;
				width: $width * 0.28;
				height: $width * .37;
			}
		}
	}
}

.wallet-info-entry {
	$iconWidth: 3em;
	display: grid;
	max-width: 30em;
	grid-template: "icon name"
								 "icon info"
								 "icon link" / $iconWidth 1fr;
	grid-gap: 0 1em;
	margin-bottom: $defaultMargin;
	.wallet-icon {
		grid-area: icon;
		text-align: center;
		.svg {
			display: inline-block;
			&.trust {
				width: 80%;
				margin-top: .2em;
			}
			&.ledger {
				width: 80%;
				margin-top: .2em;
			}
			&.trezor {
				width: 65%;
			}
		}
	}
	.wallet-name {
		grid-area: name;
		margin-bottom: .25em;
	}
	.wallet-info {
		grid-area: info;
	}
	.wallet-link {
		grid-area: link;
	}
}

.main {
	grid-area: main;
	position: relative;
	display: grid;
	grid-template: "balance content history" 
								 / 20em 1fr 20em;
	// padding-top: $navBarHeight;
	@include posa-tblr;
	.balance, .content, .history {
		position: relative;
		-webkit-overflow-scrolling: touch;
	}
	.balance, .history {
		opacity: 0;
		transition: opacity $introTransitionTime;
		@include pass-through;
		&.show {
			opacity: 1;
			@include no-pass-through;
		}
	}
	.balance {
		grid-area: balance;
		padding: 0 $defaultMargin;
		box-sizing: border-box;
		overflow: auto;
		direction: rtl;
		.balance-inner {
			
		}
		.section-header {
			// margin-left: -$defaultMargin;
			// padding-left: $defaultMargin;
		}
	}
	.content {
		display: grid;
		grid-area: content;
		padding: 0 $defaultMargin $defaultMargin;
		overflow-x: hidden;
		overflow-y: auto;
	}
	.history {
		grid-area: history;
		overflow-y: auto;
	}
	@media (max-width: $tabletMaxBreakPoint) {
		position: relative;
		display: grid;
		grid-template: "balance" min-content
									 "content" auto
									 / auto;
		// min-height: 100vh;
		.balance {
			padding: 0 $defaultMargin;
			direction: ltr;
			.balance-inner {
			  display: flex;
			  align-items: center;
			  justify-content: space-between;
			}
			.section-header {
				display: none;
			}
		}
		.content {
			margin: $defaultMargin 0;
			padding: 0 $defaultMargin;
			overflow: visible;
			// display: block;
		}
		.history {
			display: none;
		}
	}
	@media(max-width: $mobileMaxBreakPoint) {
		padding-top: 0;
		// padding-bottom: $navBarHeight;
		.balance {
			padding: $defaultMargin / 2 $defaultMargin * 1.5 $defaultMargin / 4;
			.balance-inner {
				display: flex;
				flex-flow: column;
				align-items: stretch;
			}
		}
	}
	&.welcome {
		// box-sizing: border-box;
		padding: 0;
		grid-template: "balance content" 
									 / auto 1fr;
	}
}





.my-address {
	line-height: 1.1em;
	margin-top: .3em;
}

.recent-transactions {
	position: fixed;
	width: $defaultMargin * 2 + $menuButtonWidth;
	left: 0;
	top: $defaultMargin * 2 + $menuButtonHeight;
	@include no-select-pointer;
	.transaction {
		padding: 0 0 $defaultMargin / 1.4;
	}
}

.balance-container {
	
}

.token-tray {
	border-radius: 1em;
	display: none;
	@media(max-width: $tabletMaxBreakPoint) {
		display: block;
		// flex: 1;
		// display: flex;
		// align-items: center;
		// justify-content: center;
		text-align: center;
		// padding: $defaultMargin / 2 $defaultMargin $defaultMargin $defaultMargin;
	}
	@media(max-width: $mobileMaxBreakPoint) {
		padding: 0;
		margin-top: $defaultMargin / 4;
	}
}

.token-button {
	border: 1px solid hsla(0,0,0,.25);
	padding: $defaultMargin / 2 $defaultMargin;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-left: $defaultMargin;
	border-radius: .5em;
	cursor: pointer;
	&.no-tokens {
		opacity: .5;
		@include pass-through;
		.show {
			display: none;
		}
		.no {
			display: inline-block;
		}
	}
	.token-info {
		text-align: left;
		margin-right: $defaultMargin;
		white-space: nowrap;
	}
	.show-tokens {
		font: 1em $FB2;
		.no {
			display: none;
		}
	}
	@media(max-width: $mobileMaxBreakPoint) {
		margin-left: 0;
		padding: $defaultMargin / 4 $defaultMargin * .75;
	}
}

.token-header {
	display: none;
	@media(max-width: $tabletMaxBreakPoint) {
		display: block;
		.token-count {
			margin-bottom: .5em;
		}
		.token-denomination-total {
			margin-bottom: .5em;
		}
	}
	@media(max-width: $mobileMaxBreakPoint) {
		
	}
}
.tokens {
	text-align: left;
}


h1 {
	margin-top: 0;
	&.type1 {
		font-family: $FEB;
	}
	&.type2 {
		font-family: $FEB2;
		letter-spacing: .02em;
	}
}
h2 {
	&.type1 {
		font-family: $FEB;
	}
	&.type2 {
		font-family: $FEB2;
		letter-spacing: .02em;
	}
}
h3 {
	font-weight: normal;
	font-size: 1.0625em;
	&.type1 {
		font-family: $FB;
	}
	&.type2 {
		font-family: $FB2;
		letter-spacing: .02em;
	}
}

.grid {
	$columnMinWidth: 30em;
	$columnSideMargin: 1em;
	display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  grid-gap: $defaultMargin * 2 0;
	// display: flex;
	// flex-flow: row wrap;
	.grid-cell {
		// max-width: $columnMinWidth;
		// flex: 0 1 25em;
		// margin-right: $columnSideMargin;
		// &:last-child {
		// 	margin-right: 0;
		// }
	}
}

.icon {
	height: 1.5em;
}


.dev-buttons {
	position: fixed;
	z-index: 99;
	right: 0;
	bottom: 0;
	width: $defaultMargin * 2 + $menuButtonWidth;
	padding: 0 0 $defaultMargin / 2 0;
	display: flex;
	flex-flow: column-reverse;
	justify-content: flex-end;
	align-items: center;
	@include pass-through;
	display: none;
	.dev-button {
		@include button-unstyle;
		@include no-select-pointer;
		@include no-pass-through;
		@include flex-center;
		margin: $defaultMargin / 4 0;
		width: $menuButtonWidth * 1.5;
		padding: $defaultMargin 0;
		background: black;
		color: $backgroundColor;
		font: $pFontSize $FB2;
		writing-mode: vertical-lr !important;
	  transform: rotate(180deg);
	}
}
