@import '../../../assets/sass-imports/_variables.scss';
@import '../../../assets/sass-imports/_mixins.scss';

:host {
	display: block;
	padding: 0 0 0 $sideDockWidth;
}
main {
	margin: 0 auto;
}

h1 {
	border-top: $h1BarThickness solid black;
	margin-top: 0;
	&.type1 {
		font-family: $FEB;
	}
	&.type2 {
		font-family: $FEB2;
		letter-spacing: .02em;
	}
}
h2 {
	border-top: $h2BarThickness solid black;
	&.type1 {
		font-family: $FEB;
	}
	&.type2 {
		font-family: $FEB2;
		letter-spacing: .02em;
	}
}
h3 {
	border-top: 2px solid black;
	font-weight: normal;
	font-size: 1.0625em;
	&.type1 {
		font-family: $FB;
	}
	&.type2 {
		font-family: $FB2;
		letter-spacing: .02em;
	}
}

.columns {
	$columnMinWidth: 30em;
	$columnSideMargin: 1em;
	display: flex;
	flex-flow: row wrap;
	.column {
		max-width: $columnMinWidth;
		flex: 0 1 25em;
		margin-right: $columnSideMargin;
		&:last-child {
			margin-right: 0;
		}
	}
}

.auth-button {
	opacity: .35;
	&.active {
		opacity: 1;
	}
}

.icon {
	height: 1.5em;
}