<main *ngIf="currentAuth == AuthState.none"
			class="main welcome">
	<div class="init">
		<div class="faq-button"
				 (click)="showFAQModal = true">?</div>
		<div class="intro">
			<h1>You can use Ethereum here, and it's secure.</h1>
		</div>
		<div class="wallet-selection">
			<h4 class="all-small-caps">Select wallet</h4>
			<div class="wallets">
				<div class="wallet ledger">
					<div class="svg-container">
						<div class="svg-scale"
								 [ngClass]="{ 'hover': hoverLedger }">
							<app-themed-svg class="svg"
															src="/assets/img/icons/inline-svg/ledger.svg"
															srcDark="/assets/img/icons/inline-svg/ledger dark.svg"
															svgColor="primary"
															></app-themed-svg>
						</div>
					</div>
					<div class="box one"
							 (click)="ledgerAuthState()"
							 (mouseleave)="hoverLedger = false"
							 (mouseenter)="hoverLedger = true"
							 (mousedown)="hoverLedger = false"
							 (mouseup)="hoverLedger = true"></div>
				 	<div class="box two"
							 (click)="ledgerAuthState()"
							 (mouseleave)="hoverLedger = false"
							 (mouseenter)="hoverLedger = true"
							 (mousedown)="hoverLedger = false"
							 (mouseup)="hoverLedger = true"></div>
				</div>
				<div class="wallet metamask">
					<div class="svg-container">
						<div class="svg-scale"
								 [ngClass]="{ 'hover': hoverMetaMask }">
							<app-themed-svg class="svg"
															src="/assets/img/icons/inline-svg/metamask icon.svg"
															srcDark="/assets/img/icons/inline-svg/metamask icon light.svg"
															svgColor="primary"
															></app-themed-svg>
						</div>
					</div>
					<div class="box one"
							 (click)="metaMaskAuthState()"
							 (mouseleave)="hoverMetaMask = false"
							 (mouseenter)="hoverMetaMask = true"
							 (mousedown)="hoverMetaMask = false"
							 (mouseup)="hoverMetaMask = true"></div>
				</div>
				<div class="wallet trezor">
					<div class="svg-container">
						<div class="svg-scale"
								 [ngClass]="{ 'hover': hoverTrezor }">
							<app-themed-svg class="svg"
															src="/assets/img/icons/inline-svg/trezor dark.svg"
															srcDark="/assets/img/icons/inline-svg/trezor.svg"
															svgColor="primary"
															></app-themed-svg>
						</div>
					</div>
					<div class="box one"
							 (click)="trezorAuthState()"
							 (mouseleave)="hoverTrezor = false"
							 (mouseenter)="hoverTrezor = true"
							 (mousedown)="hoverTrezor = false"
							 (mouseup)="hoverTrezor = true"></div>
				</div>
				<div class="wallet utc">
					<div class="svg-container">
						<div class="svg-scale"
								 [ngClass]="{ 'hover': hoverUTC }">
							<app-themed-svg class="svg"
															src="/assets/img/icons/inline-svg/utc.svg"
															srcDark="/assets/img/icons/inline-svg/utc dark.svg"
															svgColor="primary"
															></app-themed-svg>
						</div>
					</div>
					<div class="box one"
							 (click)="trezorAuthState()"
							 (mouseleave)="hoverUTC = false"
							 (mouseenter)="hoverUTC = true"
							 (mousedown)="hoverUTC = false"
							 (mouseup)="hoverUTC = true"></div>
				</div>
			</div>
			<app-button (click)="showWalletInfoModal = true" secondary>Need a wallet?</app-button>
		</div>
		<app-button class="disclaimer-button"
								(click)="showDisclaimerModal = true"
								no-outline>Disclaimer</app-button>
	</div>
</main>

<main *ngIf="currentAuth != AuthState.none"
			class="main">
	<div class="balance"
			 [ngClass]="{'show': dataLoaded }">
		<div class="balance-inner ltr">
			<div class="section-header"
					 [ngStyle]="theme.sectionHeaderStyle">Balance</div>

				<app-token-entry [token]="etherAsset" eth></app-token-entry>

				<div class="token-tray">

					<div class="token-button"
							 [ngStyle]="theme.primaryBorderStyleOp3"
							 [ngClass]="{'no-tokens': tokens.length == 0}"
							 (click)="showTokenTrayModal = true">
						<div class="token-info">
							<span class="all-small-caps">{{ tokens.length }} tokens</span>
							<br>
							<span class="lining-proportional"
										[ngStyle]="{'opacity': theme.op4 }">~{{ userPreferences.denomination.symbol
				          }}{{ porfolioBalance.toFixed(2) }} {{ userPreferences.denomination.abbreviation }}</span>
						</div>
						<div class="show-tokens">
							<span class="show">Show</span><span  class="no">No</span> tokens</div>

					</div>

				<!-- 			<div class="token-header">
						<div class="token-count caption small-caps">{{ assets.length - 1 }} tokens</div>
						<div class="token-denomination-total caption lining-proportional op4">~{{ userPreferences.denomination.symbol
				          }}{{ porfolioBalance.toFixed(2) }} {{ userPreferences.denomination.abbreviation }}</div>
						<app-button secondary>Show all tokens</app-button>
					</div> -->

				</div>


			<app-token-list [assets]="tokens" hide-eth desktop></app-token-list>
		</div>
	</div>

	<div class="content">
		<app-transaction-list *ngIf="navLocation == 'history'"
													(loaded)="transactionListLoaded($event)"></app-transaction-list>
		<app-new-transaction [mode]="newTransactionState"
												 [transaction]="newTransaction"
												 [userPreferences]="userPreferences"
												 [currentAuth]="currentAuth"
												 [absoluteCircleInfo]="absoluteCircleInfo"
												 [txListLoaded]="txListLoaded"
												 (setMode)="newTransactionState = $event"
												 (sentTx)="sentTxChange($event)"></app-new-transaction>

		<app-send-form #sendForm
	 								 [transactionState]="newTransactionState"
									 (ethereumTransaction)="onTransactionGenerated($event)"
									 (circleElement)="absoluteCircleInfo = $event"
	 								 *ngIf="navLocation == 'send'"></app-send-form>

		<app-receive *ngIf="navLocation == 'receive'"
								 [address]="ethereumAddress"></app-receive>
	</div>

	<app-transaction-list *ngIf="navLocation == 'send'"
												class="history"
											  [ngClass]="{'show': dataLoaded }"
												(loaded)="transactionListLoaded($event)"></app-transaction-list>
</main>

<modal [(visible)]="showTokenTrayModal"
			 [title]="'Tokens'"
			 [maxWidth]="'23em'">
	<app-token-list [assets]="tokens"></app-token-list>
</modal>

<modal [(visible)]="showWalletInfoModal" [title]="'Wallets'">
	<p class="p tac"
		 [ngStyle]="theme.op4Style">A wallet is software or hardware that stores your private key securely. A private key is a string of letters and numbers that acts as a “password” to your assets. It is hidden from sight, unlike a public key, which is also called an “address.”</p>
		 <br>
	<div class="wallet-info-entry">
		<div class="wallet-icon">
			<app-themed-svg class="svg-wrapper"
											src="/assets/img/icons/inline-svg/metamask icon.svg"
											srcDark="/assets/img/icons/inline-svg/metamask icon light.svg"
											svgColor="primary"
											></app-themed-svg>
		</div>
		<h4 class="wallet-name no-bottom-margin all-small-caps">MetaMask</h4>
		<p class="wallet-info no-bottom-margin">
			MetaMask is a free and convenient browser extension for Chrome, Firefox, and Opera. MetaMask is also available for Firefox on Android.
		</p>
		<app-inline-button class="wallet-link"
											 href="https://metamask.io/">
			View product page
		</app-inline-button>
	</div>
	<div class="wallet-info-entry">
		<div class="wallet-icon">
				<app-themed-svg class="svg trust"
												src="/assets/img/icons/inline-svg/trust icon.svg"
												svgColor="primary"
												></app-themed-svg>
		</div>
		<h4 class="wallet-name no-bottom-margin all-small-caps">Trust</h4>
		<p class="wallet-info no-bottom-margin">
			Trust wallet is a free and convenient mobile wallet with a built-in browser. Sign in through MetaMask.
		</p>
		<app-inline-button class="wallet-link"
											 href="https://trustwalletapp.com/">
			View product page
		</app-inline-button>
	</div>
	<div class="wallet-info-entry">
		<div class="wallet-icon">
				<app-themed-svg class="svg ledger"
												src="/assets/img/icons/inline-svg/ledger icon.svg"
												svgColor="primary"
												></app-themed-svg>
		</div>
		<h4 class="wallet-name no-bottom-margin all-small-caps">Ledger</h4>
		<p class="wallet-info no-bottom-margin">
			Ledger is a hardware wallet designed for secure long-term cryptocurrency storage.
		</p>
		<app-inline-button class="wallet-link"
											 href="https://www.ledgerwallet.com/">
			View product page
		</app-inline-button>
	</div>
	<div class="wallet-info-entry">
		<div class="wallet-icon">
				<app-themed-svg class="svg trezor"
												src="/assets/img/icons/inline-svg/trezor icon.svg"
												svgColor="primary"
												></app-themed-svg>
		</div>
		<h4 class="wallet-name no-bottom-margin all-small-caps">Trezor</h4>
		<p class="wallet-info no-bottom-margin">
			Trezor is a hardware wallet designed for secure long-term cryptocurrency storage.
		</p>
		<app-inline-button class="wallet-link"
											 href="https://trezor.io/">
			View product page
		</app-inline-button>
	</div>
</modal>
<modal [(visible)]="showFAQModal" [title]="'F.A.Q.'">
	<app-faq></app-faq>
</modal>

<modal [(visible)]="showDisclaimerModal" [title]="'Disclaimer'">
	<app-disclaimer></app-disclaimer>
</modal>

<div class="dev-buttons">
<!-- 	<app-button class="dev-button"
			 [ngStyle]="theme.buttonStyle"
			 (click)="showTestModal = !showTestModal">Show test modal</app-button> -->
	<app-button class="dev-button"
			 [ngStyle]="theme.buttonStyle"
		 	 (click)="newTransactionState = 'initial'">initial</app-button>
	<app-button class="dev-button"
			 [ngStyle]="theme.buttonStyle"
		 	 (click)="newTransactionState = 'approve'">approve</app-button>
	<app-button class="dev-button"
			 [ngStyle]="theme.buttonStyle"
		 	 (click)="sendTx()">sent</app-button>
	<!-- <app-button class="dev-button"
			 [ngStyle]="theme.buttonStyle"
		 	 (click)="currentAuth = 'fake auth'">fake auth</app-button>
 	<app-button class="dev-button"
			 [ngStyle]="theme.buttonStyle"
		 	 (click)="notificationService.message('hello ')">Add notification</app-button>
	<app-button class="dev-button"
			 [ngStyle]="theme.buttonStyle"
		 	 (click)="notificationService.message('it worx ', null, 0)">Add INFINITE notification</app-button> -->
</div>

